In [ ]:
! pip install plotly
! pip install folium
! pip install fuzzywuzzy
! pip install python-Levenshtein

In [2]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

In [3]:
# for visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import plotly.io as pio
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm
import folium

# for diagramming 
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [6]:
# read the json file from your data folder into a data frame
#df = pd.read_csv(r'C:\Users\chz\Documents\BI Exercise\\BI Exam\global air pollution dataset.csv')
df = pd.read_csv(r'DataSæt\global air pollution dataset.csv')
df2 = pd.read_csv(r"Datasæt\2017_-_Cities_Community_Wide_Emissions.csv")

In [7]:
# Standardizing the 'Country' column in both DataFrames
df['Country'] = df['Country'].str.title().str.strip()
df2['Country'] = df2['Country'].str.title().str.strip()

# Merging df and df2 based on 'Country' after standardization
df_merged = pd.merge(df, df2, on='Country', how='outer')

# Sampling 50 rows from the merged DataFrame to verify the operation
# Note: Since the actual DataFrames are empty in this simulation, this step is for demonstration purposes.
sampled_df_merged = df_merged.sample(50)

In [8]:
df_merged.count()

Country                                         65872
City_x                                          66200
AQI Value                                       66201
AQI Category                                    66201
CO AQI Value                                    66201
CO AQI Category                                 66201
Ozone AQI Value                                 66201
Ozone AQI Category                              66201
NO2 AQI Value                                   66201
NO2 AQI Category                                66201
PM2.5 AQI Value                                 66201
PM2.5 AQI Category                              66201
Account number                                  53096
Organization                                    53096
City_y                                          53096
Region                                          53096
C40                                             14673
Access                                          53096
Reporting year                                  53096
Accounting year                                 53096
Boundary                                        53096
Protocol                                        53096
Protocol column                                 42604
Gases included                                  24158
Total emissions (metric tonnes CO2e)            49759
Scopes Included                                 53096
Total Scope 1 Emissions (metric tonnes CO2e)    33667
Total Scope 2 Emissions (metric tonnes CO2e)    35932
Comment                                         13267
Increase/Decrease from last year                44060
Reason for increase/decrease in emissions       40220
Population                                      53096
Population year                                 53096
GDP                                             45805
GDP Currency                                    41764
GDP Year                                        46970
GDP Source                                      44814
Average annual temperature (in Celsius)​        50573
​Average altitude (m)                           49791
​Land area (in square km)                       51534
City Location                                   53096
Country Location                                53096
dtype: int64

In [9]:
df_merged.isnull().sum()

Country                                           427
City_x                                             99
AQI Value                                          98
AQI Category                                       98
CO AQI Value                                       98
CO AQI Category                                    98
Ozone AQI Value                                    98
Ozone AQI Category                                 98
NO2 AQI Value                                      98
NO2 AQI Category                                   98
PM2.5 AQI Value                                    98
PM2.5 AQI Category                                 98
Account number                                  13203
Organization                                    13203
City_y                                          13203
Region                                          13203
C40                                             51626
Access                                          13203
Reporting year                                  13203
Accounting year                                 13203
Boundary                                        13203
Protocol                                        13203
Protocol column                                 23695
Gases included                                  42141
Total emissions (metric tonnes CO2e)            16540
Scopes Included                                 13203
Total Scope 1 Emissions (metric tonnes CO2e)    32632
Total Scope 2 Emissions (metric tonnes CO2e)    30367
Comment                                         53032
Increase/Decrease from last year                22239
Reason for increase/decrease in emissions       26079
Population                                      13203
Population year                                 13203
GDP                                             20494
GDP Currency                                    24535
GDP Year                                        19329
GDP Source                                      21485
Average annual temperature (in Celsius)​        15726
​Average altitude (m)                           16508
​Land area (in square km)                       14765
City Location                                   13203
Country Location                                13203
dtype: int64

In [10]:
df_merged.drop(columns=['Gases included'], inplace=True)
df_merged.drop(columns=['Comment'], inplace=True)
df_merged.drop(columns=['Total Scope 1 Emissions (metric tonnes CO2e)'], inplace=True)
df_merged.drop(columns=['Total Scope 2 Emissions (metric tonnes CO2e)'], inplace=True)

In [11]:
df_merged['C40'] = df_merged['C40'].fillna(False)

In [12]:
# Delete the null values from the data frame
df_merged = df_merged.dropna()

In [13]:
# Check the data frame for null values
df_merged.isnull().sum()

Country                                      0
City_x                                       0
AQI Value                                    0
AQI Category                                 0
CO AQI Value                                 0
CO AQI Category                              0
Ozone AQI Value                              0
Ozone AQI Category                           0
NO2 AQI Value                                0
NO2 AQI Category                             0
PM2.5 AQI Value                              0
PM2.5 AQI Category                           0
Account number                               0
Organization                                 0
City_y                                       0
Region                                       0
C40                                          0
Access                                       0
Reporting year                               0
Accounting year                              0
Boundary                                     0
Protocol                                     0
Protocol column                              0
Total emissions (metric tonnes CO2e)         0
Scopes Included                              0
Increase/Decrease from last year             0
Reason for increase/decrease in emissions    0
Population                                   0
Population year                              0
GDP                                          0
GDP Currency                                 0
GDP Year                                     0
GDP Source                                   0
Average annual temperature (in Celsius)​     0
​Average altitude (m)                        0
​Land area (in square km)                    0
City Location                                0
Country Location                             0
dtype: int64

In [14]:
df_merged.count()

Country                                      28833
City_x                                       28833
AQI Value                                    28833
AQI Category                                 28833
CO AQI Value                                 28833
CO AQI Category                              28833
Ozone AQI Value                              28833
Ozone AQI Category                           28833
NO2 AQI Value                                28833
NO2 AQI Category                             28833
PM2.5 AQI Value                              28833
PM2.5 AQI Category                           28833
Account number                               28833
Organization                                 28833
City_y                                       28833
Region                                       28833
C40                                          28833
Access                                       28833
Reporting year                               28833
Accounting year                              28833
Boundary                                     28833
Protocol                                     28833
Protocol column                              28833
Total emissions (metric tonnes CO2e)         28833
Scopes Included                              28833
Increase/Decrease from last year             28833
Reason for increase/decrease in emissions    28833
Population                                   28833
Population year                              28833
GDP                                          28833
GDP Currency                                 28833
GDP Year                                     28833
GDP Source                                   28833
Average annual temperature (in Celsius)​     28833
​Average altitude (m)                        28833
​Land area (in square km)                    28833
City Location                                28833
Country Location                             28833
dtype: int64

In [15]:
df = df_merged

In [5]:
# Load the pickle file into a DataFrame
df = pd.read_pickle(r"C:\Users\chz\Documents\GitHub\BI-eksamen\Streamlit\dataframe.pkl")

# Display the first few rows of the DataFrame to inspect its columns
print(df.head())

# Check if 'Continent' column exists
if 'Continent' in df.columns:
    print("The DataFrame contains a 'Continent' column.")
else:
    print("The DataFrame does not contain a 'Continent' column.")

     Country            City_x  AQI Value AQI Category  CO AQI Value  \
1242  Brazil  Presidente Dutra       41.0         Good           1.0
1243  Brazil  Presidente Dutra       41.0         Good           1.0
1247  Brazil  Presidente Dutra       41.0         Good           1.0
1248  Brazil  Presidente Dutra       41.0         Good           1.0
1249  Brazil  Presidente Dutra       41.0         Good           1.0

     CO AQI Category  Ozone AQI Value Ozone AQI Category  NO2 AQI Value  \
1242            Good              5.0               Good            1.0
1243            Good              5.0               Good            1.0
1247            Good              5.0               Good            1.0
1248            Good              5.0               Good            1.0
1249            Good              5.0               Good            1.0

     NO2 AQI Category  ...  Average annual temperature (in Celsius)​  \
1242             Good  ...                                      23.0
1243             Good  ...                                      20.0
1247             Good  ...                                      23.7
1248             Good  ...                                      18.0
1249             Good  ...                                      21.0

     ​Average altitude (m)  ​Land area (in square km) City Latitude  \
1242                   5.0                      133.1    -22.892857
1243                   3.0                      438.0    -27.594988
1247                   5.0                     1224.6    -22.905439
1248                 935.0                      434.0    -25.431063
1249                1172.0                     5780.0    -15.794229

     City Longitude Country Latitude Country Longitude  C40_True C40_False  \
1242     -43.118381       -14.235004         -51.92528         0         1
1243     -48.548174       -14.235004         -51.92528         0         1
1247     -43.561447       -14.235004         -51.92528         1         0
1248     -49.264693       -14.235004         -51.92528         1         0
1249     -47.882166       -14.235004         -51.92528         0         1

          Continent
1242  South America
1243  South America
1247  South America
1248  South America
1249  South America

[5 rows x 42 columns]
The DataFrame contains a 'Continent' column.