In [ ]:
! pip install plotly
! pip install Streamlit
! pip install folium
! pip install fuzzywuzzy
! pip install python-Levenshtein
! pip install pycountry-convert
! pip install streamlit-folium
! pip install branca

In [1]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt

import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

In [2]:
# for visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import plotly.io as pio
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm

# for diagramming 
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [3]:
import folium

In [9]:
# read the json file from your data folder into a data frame
#df = pd.read_csv(r'C:\Users\chz\Documents\BI Exercise\\BI Exam\global air pollution dataset.csv')
df = pd.read_csv('../DataSæt/global air pollution dataset.csv')
df2 = pd.read_csv('../DataSæt/2017_-_Cities_Community_Wide_Emissions.csv')

In [10]:
df.shape

(23463, 12)

In [11]:
df2.shape

(229, 31)

In [12]:
# Define the correction mapping with the correct capitalization
correction_mapping = {
    "United States of America": "USA",
    "Viet Nam": "Vietnam",
    "Russian Federation": "Russia",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "Bolivia (Plurinational State of)": "Bolivia",
    "Venezuela (Bolivarian Republic of)": "Venezuela",
    "Iran (Islamic Republic of)": "Iran",
    "Syrian Arab Republic": "Syria",
    "Republic of Korea": "South Korea",
    "Lao People's Democratic Republic": "Laos",
    # Add other corrections as needed
}

# Apply the correction mapping to df and df2 and overwrite the original 'Country' column
df['Country'] = df['Country'].replace(correction_mapping).str.strip()
df2['Country'] = df2['Country'].replace(correction_mapping).str.strip()

# Proceed with the merge using the corrected country names
df_merged = pd.merge(df, df2, on='Country', how='inner')

# Rename 'City_x' to 'City' and 'Country_x' to 'Country'
df_merged.rename(columns={'City_x': 'City',}, inplace=True)

# Drop the extra 'Country' column
df_merged.drop(columns=['City_y'], inplace=True)

# Rearrange the columns
column_order = ['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value', 'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category', 'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value', 'PM2.5 AQI Category', 'Account number', 'Organization', 'Region', 'C40', 'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol', 'Protocol column', 'Gases included', 'Total emissions (metric tonnes CO2e)', 'Total Scope 1 Emissions (metric tonnes CO2e)', 'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment', 'Increase/Decrease from last year', 'Reason for increase/decrease in emissions', 'Population', 'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source', 'Average annual temperature (in Celsius)​', '​Average altitude (m)', '​Land area (in square km)', 'City Location', 'Country Location']
# Reorder the DataFrame columns
df_merged = df_merged[column_order]

In [13]:
df_merged.shape

(288622, 40)

In [14]:
df_merged.isnull().sum()

Country                                              0
City                                                 1
AQI Value                                            0
AQI Category                                         0
CO AQI Value                                         0
CO AQI Category                                      0
Ozone AQI Value                                      0
Ozone AQI Category                                   0
NO2 AQI Value                                        0
NO2 AQI Category                                     0
PM2.5 AQI Value                                      0
PM2.5 AQI Category                                   0
Account number                                       0
Organization                                         0
Region                                               0
C40                                             237710
Access                                               0
Reporting year                                       0
Accounting year                                      0
Boundary                                             0
Protocol                                             0
Protocol column                                 114244
Gases included                                  149081
Total emissions (metric tonnes CO2e)             20562
Total Scope 1 Emissions (metric tonnes CO2e)     57609
Total Scope 2 Emissions (metric tonnes CO2e)     61085
Comment                                         191552
Increase/Decrease from last year                 16018
Reason for increase/decrease in emissions        63321
Population                                           0
Population year                                      0
GDP                                              60666
GDP Currency                                     58996
GDP Year                                         59442
GDP Source                                       58727
Average annual temperature (in Celsius)​          5394
​Average altitude (m)                            20526
​Land area (in square km)                         1562
City Location                                        0
Country Location                                     0
dtype: int64

In [15]:
df_merged.drop(columns=['Gases included'], inplace=True)
df_merged.drop(columns=['Protocol column'], inplace=True)
df_merged.drop(columns=['Comment'], inplace=True)
df_merged.drop(columns=['Total Scope 1 Emissions (metric tonnes CO2e)'], inplace=True)
df_merged.drop(columns=['Total Scope 2 Emissions (metric tonnes CO2e)'], inplace=True)

In [16]:
# Convert nulls/NaNs to 'False'
df_merged['C40'] = df_merged['C40'].fillna('False')

# Convert any cell that contains "C40" to 'True', assuming "C40" indicates a true condition
# Adjust the condition as needed to match your data's specific representation of true
df_merged['C40'] = df_merged['C40'].apply(lambda x: 'True' if 'C40' in str(x) else 'False')

In [17]:
# Delete the null values from the data frame
df_merged = df_merged.dropna()

In [18]:
# Check the data frame for null values
df_merged.isnull().sum()

Country                                      0
City                                         0
AQI Value                                    0
AQI Category                                 0
CO AQI Value                                 0
CO AQI Category                              0
Ozone AQI Value                              0
Ozone AQI Category                           0
NO2 AQI Value                                0
NO2 AQI Category                             0
PM2.5 AQI Value                              0
PM2.5 AQI Category                           0
Account number                               0
Organization                                 0
Region                                       0
C40                                          0
Access                                       0
Reporting year                               0
Accounting year                              0
Boundary                                     0
Protocol                                     0
Total emissions (metric tonnes CO2e)         0
Increase/Decrease from last year             0
Reason for increase/decrease in emissions    0
Population                                   0
Population year                              0
GDP                                          0
GDP Currency                                 0
GDP Year                                     0
GDP Source                                   0
Average annual temperature (in Celsius)​     0
​Average altitude (m)                        0
​Land area (in square km)                    0
City Location                                0
Country Location                             0
dtype: int64

In [19]:
df_merged.count()

Country                                      150399
City                                         150399
AQI Value                                    150399
AQI Category                                 150399
CO AQI Value                                 150399
CO AQI Category                              150399
Ozone AQI Value                              150399
Ozone AQI Category                           150399
NO2 AQI Value                                150399
NO2 AQI Category                             150399
PM2.5 AQI Value                              150399
PM2.5 AQI Category                           150399
Account number                               150399
Organization                                 150399
Region                                       150399
C40                                          150399
Access                                       150399
Reporting year                               150399
Accounting year                              150399
Boundary                                     150399
Protocol                                     150399
Total emissions (metric tonnes CO2e)         150399
Increase/Decrease from last year             150399
Reason for increase/decrease in emissions    150399
Population                                   150399
Population year                              150399
GDP                                          150399
GDP Currency                                 150399
GDP Year                                     150399
GDP Source                                   150399
Average annual temperature (in Celsius)​     150399
​Average altitude (m)                        150399
​Land area (in square km)                    150399
City Location                                150399
Country Location                             150399
dtype: int64

In [20]:
# Extracting latitude and longitude from "City Location" and "Country Location" into new columns
df_merged[['City Latitude', 'City Longitude']] = df_merged['City Location'].str.extract(r'\(([^,]+), ([^)]+)\)')
df_merged[['Country Latitude', 'Country Longitude']] = df_merged['Country Location'].str.extract(r'\(([^,]+), ([^)]+)\)')

# Displaying the first few rows to ensure the transformation was successful
df_merged.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location,City Latitude,City Longitude,Country Latitude,Country Longitude
1242,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,Ministério da Saúde - DATASUS,23.0,5.0,133.1,"(-22.892857, -43.118381)","(-14.235004, -51.92528)",-22.892857,-43.118381,-14.235004,-51.92528
1243,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,IBGE,20.0,3.0,438.0,"(-27.5949884, -48.5481743)","(-14.235004, -51.92528)",-27.5949884,-48.5481743,-14.235004,-51.92528
1247,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,IBGE,23.7,5.0,1224.6,"(-22.9054389, -43.5614471)","(-14.235004, -51.92528)",-22.9054389,-43.5614471,-14.235004,-51.92528
1248,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,http://www.agencia.curitiba.pr.gov.br/publico/...,18.0,935.0,434.0,"(-25.431063, -49.264693)","(-14.235004, -51.92528)",-25.431063,-49.264693,-14.235004,-51.92528
1249,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,Produto Interno Bruto do Distrito Federal. COD...,21.0,1172.0,5780.0,"(-15.794229, -47.882166)","(-14.235004, -51.92528)",-15.794229,-47.882166,-14.235004,-51.92528

In [21]:
# Convert the latitude and longitude columns from strings to floats
df_merged['City Latitude'] = pd.to_numeric(df_merged['City Latitude'], errors='coerce')
df_merged['City Longitude'] = pd.to_numeric(df_merged['City Longitude'], errors='coerce')
df_merged['Country Latitude'] = pd.to_numeric(df_merged['Country Latitude'], errors='coerce')
df_merged['Country Longitude'] = pd.to_numeric(df_merged['Country Longitude'], errors='coerce')

In [22]:
df_merged.drop(columns=['City Location'], inplace=True)
df_merged.drop(columns=['Country Location'], inplace=True)

In [23]:
# Convert 'C40' from strings "True"/"False" to actual booleans
df_merged['C40'] = df_merged['C40'].map({'True': True, 'False': False})

# Create two new columns: 'C40_True' and 'C40_False'
df_merged['C40_True'] = df_merged['C40'].astype(int)  # This will convert True to 1 and False to 0
df_merged['C40_False'] = (~df_merged['C40']).astype(int)  # This inverts the boolean and then converts to 0/1

In [24]:
df_merged.drop(columns=['C40'], inplace=True)

In [25]:
df = df_merged

In [26]:
df.sample()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False
241110,USA,Marinette,57,Moderate,1,Good,20,Good,3,Good,...,MSA Data (not county only) from US DOC's BEA h...,15.1,182.0,1367.0,36.1627,-86.7816,37.09024,-95.712891,0,1

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150399 entries, 1242 to 288616
Data columns (total 38 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Country                                    150399 non-null  object
 1   City                                       150399 non-null  object
 2   AQI Value                                  150399 non-null  int64
 3   AQI Category                               150399 non-null  object
 4   CO AQI Value                               150399 non-null  int64
 5   CO AQI Category                            150399 non-null  object
 6   Ozone AQI Value                            150399 non-null  int64
 7   Ozone AQI Category                         150399 non-null  object
 8   NO2 AQI Value                              150399 non-null  int64
 9   NO2 AQI Category                           150399 non-null  object
 10  PM2.5 AQI Value                            150399 non-null  int64
 11  PM2.5 AQI Category                         150399 non-null  object
 12  Account number                             150399 non-null  int64
 13  Organization                               150399 non-null  object
 14  Region                                     150399 non-null  object
 15  Access                                     150399 non-null  object
 16  Reporting year                             150399 non-null  int64
 17  Accounting year                            150399 non-null  object
 18  Boundary                                   150399 non-null  object
 19  Protocol                                   150399 non-null  object
 20  Total emissions (metric tonnes CO2e)       150399 non-null  float64
 21  Increase/Decrease from last year           150399 non-null  object
 22  Reason for increase/decrease in emissions  150399 non-null  object
 23  Population                                 150399 non-null  int64
 24  Population year                            150399 non-null  int64
 25  GDP                                        150399 non-null  float64
 26  GDP Currency                               150399 non-null  object
 27  GDP Year                                   150399 non-null  float64
 28  GDP Source                                 150399 non-null  object
 29  Average annual temperature (in Celsius)​   150399 non-null  float64
 30  ​Average altitude (m)                      150399 non-null  float64
 31  ​Land area (in square km)                  150399 non-null  float64
 32  City Latitude                              150399 non-null  float64
 33  City Longitude                             150399 non-null  float64
 34  Country Latitude                           150399 non-null  float64
 35  Country Longitude                          150399 non-null  float64
 36  C40_True                                   150399 non-null  int32
 37  C40_False                                  150399 non-null  int32
dtypes: float64(10), int32(2), int64(9), object(17)
memory usage: 43.6+ MB

In [28]:
import pycountry_convert as pc

#applying continent to the dataset for future use of folium mapping
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return None  # For countries that don't match

# Apply the conversion function to your DataFrame
df['Continent'] = df['Country'].apply(country_to_continent)
# Filter for other continents
north_american_countries_df = df[df['Continent'] == 'North America']
south_american_countries_df = df[df['Continent'] == 'South America']
asian_countries_df = df[df['Continent'] == 'Asia']
african_countries_df = df[df['Continent'] == 'Africa']
oceania_countries_df = df[df['Continent'] == 'Oceania']
Europe_df = df[df['Continent'] == 'Europe']

c:\Users\chz\anaconda3\Lib\site-packages\pycountry\db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
c:\Users\chz\anaconda3\Lib\site-packages\pycountry\db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)

In [48]:
df.count()

Country                                      12753
City                                         12753
AQI Value                                    12753
AQI Category                                 12753
CO AQI Value                                 12753
CO AQI Category                              12753
Ozone AQI Value                              12753
Ozone AQI Category                           12753
NO2 AQI Value                                12753
NO2 AQI Category                             12753
PM2.5 AQI Value                              12753
PM2.5 AQI Category                           12753
Account number                               12753
Organization                                 12753
Region                                       12753
Access                                       12753
Reporting year                               12753
Accounting year                              12753
Boundary                                     12753
Protocol                                     12753
Total emissions (metric tonnes CO2e)         12753
Increase/Decrease from last year             12753
Reason for increase/decrease in emissions    12753
Population                                   12753
Population year                              12753
GDP                                          12753
GDP Currency                                 12753
GDP Year                                     12753
GDP Source                                   12753
Average annual temperature (in Celsius)​     12753
​Average altitude (m)                        12753
​Land area (in square km)                    12753
City Latitude                                12753
City Longitude                               12753
Country Latitude                             12753
Country Longitude                            12753
C40_True                                     12753
C40_False                                    12753
Continent                                    12753
dtype: int64

In [30]:
df.sample(10)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False,Continent
142312,USA,North Palm Beach,53,Moderate,1,Good,12,Good,10,Good,...,6.0,2405.0,20.0,39.195000,-106.837000,37.090240,-95.712891,0,1,North America
273616,United Kingdom,Ormskirk,35,Good,1,Good,35,Good,3,Good,...,9.7,65.0,140.0,51.481581,-3.179090,55.378051,-3.435973,0,1,Europe
161730,USA,South El Monte,109,Unhealthy for Sensitive Groups,3,Good,21,Good,24,Good,...,15.1,182.0,1367.0,36.162700,-86.781600,37.090240,-95.712891,0,1,North America
276674,Mexico,Tlalnepantla,195,Unhealthy,2,Good,39,Good,5,Good,...,16.0,2240.0,1485.0,19.432608,-99.133208,23.634501,-102.552784,1,0,North America
234666,USA,Plano,62,Moderate,1,Good,22,Good,5,Good,...,13.3,12.0,367.0,39.952335,-75.163789,37.090240,-95.712891,1,0,North America
15153,Brazil,Itabaianinha,35,Good,1,Good,7,Good,2,Good,...,20.0,860.0,346.0,-19.967308,-44.201190,-14.235004,-51.925280,0,1,South America
168417,USA,Laplace,99,Moderate,2,Good,18,Good,8,Good,...,13.0,10.0,784.0,40.712784,-74.005941,37.090240,-95.712891,1,0,North America
6191,Brazil,Varzea Grande,39,Good,1,Good,11,Good,1,Good,...,21.0,1172.0,5780.0,-15.794229,-47.882166,-14.235004,-51.925280,0,1,South America
66783,USA,Walnut,111,Unhealthy for Sensitive Groups,3,Good,19,Good,24,Good,...,14.0,400.0,111.0,37.271000,-79.941400,37.090240,-95.712891,0,1,North America
185079,USA,Avenal,39,Good,1,Good,21,Good,7,Good,...,11.1,293.0,151.0,40.440625,-79.995886,37.090240,-95.712891,0,1,North America

In [35]:
df = df.drop_duplicates(subset=['City'])

In [33]:
df.count()

Country                                      12753
City                                         12753
AQI Value                                    12753
AQI Category                                 12753
CO AQI Value                                 12753
CO AQI Category                              12753
Ozone AQI Value                              12753
Ozone AQI Category                           12753
NO2 AQI Value                                12753
NO2 AQI Category                             12753
PM2.5 AQI Value                              12753
PM2.5 AQI Category                           12753
Account number                               12753
Organization                                 12753
Region                                       12753
Access                                       12753
Reporting year                               12753
Accounting year                              12753
Boundary                                     12753
Protocol                                     12753
Total emissions (metric tonnes CO2e)         12753
Increase/Decrease from last year             12753
Reason for increase/decrease in emissions    12753
Population                                   12753
Population year                              12753
GDP                                          12753
GDP Currency                                 12753
GDP Year                                     12753
GDP Source                                   12753
Average annual temperature (in Celsius)​     12753
​Average altitude (m)                        12753
​Land area (in square km)                    12753
City Latitude                                12753
City Longitude                               12753
Country Latitude                             12753
Country Longitude                            12753
C40_True                                     12753
C40_False                                    12753
Continent                                    12753
dtype: int64

In [ ]:
df.to_pickle("dataframe.pkl") # save df to a pickle file so it can be used for streamlit

In [ ]:
df.count()

In [ ]:
df.sample(20)

In [ ]:
# We have to convert the data from float to int in order to use pandas to calculate the correlations
numeric_df = df.select_dtypes(include=['float64', 'int64'])


df_cleaned = numeric_df.dropna()
# Calculate the correlation matrix
corr_matrix = df_cleaned.corr()

# Plot the correlation matrix
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Visualizing relationships between all numerical features
sns.pairplot(df.select_dtypes(include=['float64', 'int64']))
plt.show()

In [ ]:
plt.xlabel('AQI Value')
plt.ylabel('PM2.5 AQI Value')
plt.scatter(df['AQI Value'], df['PM2.5 AQI Value'], color='green')
plt.show()

In [ ]:
sns.distplot(df['AQI Value'],  label='AQI Value', norm_hist=True)

In [ ]:
sns.distplot(df['PM2.5 AQI Value'],  label='PM2.5 AQI Value', norm_hist=True)

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'AQI Value' for each country
country_aqi_means = df.groupby('Country')['AQI Value'].mean()

# Sorting the countries by AQI value for better visualization
country_aqi_means = country_aqi_means.sort_values()

# Creating the bar chart
plt.figure(figsize=(15, 25)) 
plt.barh(country_aqi_means.index, country_aqi_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average AQI Value')
plt.ylabel('Country')
plt.title('Average AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.

plt.show()

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'PM2.5 AQI Value' for each country
country_pm25_means = df.groupby('Country')['PM2.5 AQI Value'].mean()
# Sorting the countries by PM2.5 AQI value for better visualization
country_pm25_means = country_pm25_means.sort_values()
# Creating the bar chart
plt.figure(figsize=(15, 25))
plt.barh(country_pm25_means.index, country_pm25_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average PM2.5 AQI Value')
plt.ylabel('Country')
plt.title('Average PM2.5 AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.
plt.show()

In [ ]:
X = df['AQI Value'].values.reshape(-1, 1)
y = df['PM2.5 AQI Value'].values.reshape(-1, 1)

In [ ]:
# plot all
plt.ylabel('PM2.5 AQI Value')
plt.xlabel('AQI Value')
plt.scatter(X, y, color='blue')
plt.show()

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=0.15)

In [ ]:
# the shape of the subsets
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

In [ ]:
# creating an instance of Linear Regression model
myreg = LinearRegression()

In [ ]:
# fit it to our data
myreg.fit(X_train, y_train)
myreg

In [ ]:
# get the calculated coefficients
a = myreg.coef_
b = myreg.intercept_

In [ ]:
a

In [ ]:
b

In [ ]:
y_predicted = myreg.predict(X_test)
y_predicted

In [ ]:
y_test

In [ ]:
# Visualise the Linear Regression 
plt.title('Linear Regression')
plt.scatter(X, y, color='green')
plt.plot(X_train, a*X_train + b, color='blue')
plt.plot(X_test, y_predicted, color='orange')
plt.xlabel('length')
plt.ylabel('age')
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Predicting on the test set
y_pred = myreg.predict(X_test)

# Calculating metrics
print("R^2: ", r2_score(y_test, y_pred))
print("RMSE: ", np.sqrt(mean_squared_error(y_test, y_pred)))

In [ ]:
#create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'Country' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='Country', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# divide the data into 5 clusters using the KMeans algorithm
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5)
kmeans.fit(df[['AQI Value', 'PM2.5 AQI Value']])
df['cluster'] = kmeans.predict(df[['AQI Value', 'PM2.5 AQI Value']])
df.sample(10)

In [ ]:
# create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'cluster' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='cluster', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# Fit the model and predict clusters
kmeans = KMeans(n_clusters=5, random_state=42).fit(df_filtered[['AQI Value', 'PM2.5 AQI Value']])
df_filtered['cluster'] = kmeans.labels_

# Analyze centroids
centroids = kmeans.cluster_centers_
print("Centroids:\n", centroids)

# Plotting clusters and centroids
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df_filtered, x='AQI Value', y='PM2.5 AQI Value', hue='cluster', palette='viridis')
plt.scatter(centroids[:, 0], centroids[:, 1], s=100, c='red', label='Centroids')
plt.legend()
plt.show()

In [ ]:
population_data = df[['Country', 'Population']]

# Grouping and aggregating population data by country
population_by_country = population_data.groupby('Country')['Population'].sum().reset_index()

# Creating a pivot table with 'Country' as index
pivot_population = population_by_country.set_index('Country')

# Creating the heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(data=pivot_population, cmap='YlGnBu', annot=True, fmt=',.0f', linewidths=.5)
plt.title('Population by Country')
plt.xlabel('population')
plt.ylabel('Country')
plt.show()

In [ ]:
# Splitting the 'Country Location' column into separate longitude and latitude columns
df[['Latitude', 'Longitude']] = df['Country Location'].str.strip('()').str.split(', ', expand=True).astype(float)

# Creating a 3D scatter plot
scatter_plot = go.Scatter3d(
    x=df['Longitude'],
    y=df['Latitude'],
    z=df['Population year'],
    mode='markers',
    marker=dict(
        size=5,
        color='blue',                # Set color to an array/list of desired values
        opacity=0.8
    )
)

# Setting layout
layout = go.Layout(
    title='3D Population Map',
    scene=dict(
        xaxis=dict(title='Country Longitude'),
        yaxis=dict(title='Country Latitude'),
        zaxis=dict(title='Population')
    )
)

# Combining data and layout into a figure
fig = go.Figure(data=[scatter_plot], layout=layout)

# Show the figure
fig.show()

In [ ]:
df.sample()

In [ ]:
filtered_df = df[df['Country'] == 'Russian Federation']

In [ ]:
filtered_df.sample()

In [ ]:
df_europe = df[df['Country'] == 'USA']

In [ ]:
df_europe.sample(50)

In [ ]:
df_sampled = df_europe.sample(n=500, replace=False, random_state=42)

In [ ]:
df_sampled.count()

In [ ]:
import folium
import json

# Load the GeoJSON data from a local file
with open(r"C:\Users\chz\Documents\BI Exercise\Datasæt\Eumap.json", 'r', encoding='utf-8') as f:
    geojson_data = json.load(f)

# Assuming 'df' is your DataFrame and already correctly set up
m = folium.Map(location=[df_sampled['Country Latitude'].mean(), df_sampled['Country Longitude'].mean()], zoom_start=3)

# Add markers for each data point
for index, row in df.iterrows():
    folium.Marker([row['Country Latitude'], row['Country Longitude']], popup=row['Population']).add_to(m)

# Add polygon overlays for countries using the loaded GeoJSON data
folium.GeoJson(data=geojson_data).add_to(m)

# Save and display the map
m.save('map.html')

In [ ]:
m