In [27]:
! pip install plotly
! pip install Streamlit
! pip install folium
! pip install fuzzywuzzy
! pip install python-Levenshtein
! pip install pycountry-convert
! pip install streamlit-folium
! pip install branca

Requirement already satisfied: plotly in c:\users\chz\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\chz\anaconda3\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: Streamlit in c:\users\chz\anaconda3\lib\site-packages (1.31.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (5.2.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (2.0.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (10.0.1)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (4.10.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (3.1.42)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\chz\anaconda3\lib\site-packages (from Streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\chz\anaconda3\lib\site-packages (from altair<6,>=4.0->Streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\chz\anaconda3\lib\site-packages (from altair<6,>=4.0->Streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\chz\anaconda3\lib\site-packages (from altair<6,>=4.0->Streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\chz\anaconda3\lib\site-packages (from click<9,>=7.0->Streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\chz\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->Streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\chz\anaconda3\lib\site-packages (from importlib-metadata<8,>=1.4->Streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chz\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->Streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chz\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->Streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\chz\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->Streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\chz\anaconda3\lib\site-packages (from requests<3,>=2.27->Streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chz\anaconda3\lib\site-packages (from requests<3,>=2.27->Streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\chz\anaconda3\lib\site-packages (from requests<3,>=2.27->Streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chz\anaconda3\lib\site-packages (from requests<3,>=2.27->Streamlit) (2023.11.17)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\chz\anaconda3\lib\site-packages (from rich<14,>=10.14.0->Streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\chz\anaconda3\lib\site-packages (from rich<14,>=10.14.0->Streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\chz\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->Streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\chz\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->Streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\chz\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->Streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\chz\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->Streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\chz\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->Streamlit) (0.1.0)
Requirement already satisfied: folium in c:\users\chz\anaconda3\lib\site-packages (0.15.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\chz\anaconda3\lib\site-packages (from folium) (0.7.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\chz\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\chz\anaconda3\lib\site-packages (from folium) (1.24.3)
Requirement already satisfied: requests in c:\users\chz\anaconda3\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\chz\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\chz\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium) (2023.11.17)
Requirement already satisfied: fuzzywuzzy in c:\users\chz\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\chz\anaconda3\lib\site-packages (0.25.0)
Requirement already satisfied: Levenshtein==0.25.0 in c:\users\chz\anaconda3\lib\site-packages (from python-Levenshtein) (0.25.0)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.1.0 in c:\users\chz\anaconda3\lib\site-packages (from Levenshtein==0.25.0->python-Levenshtein) (3.6.1)
Requirement already satisfied: pycountry-convert in c:\users\chz\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: pprintpp>=0.3.0 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (23.12.11)
Requirement already satisfied: pytest>=3.4.0 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (7.4.0)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (3.12.0)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (4.1.0)
Requirement already satisfied: repoze.lru>=0.7 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (0.7)
Requirement already satisfied: wheel>=0.30.0 in c:\users\chz\anaconda3\lib\site-packages (from pycountry-convert) (0.38.4)
Requirement already satisfied: iniconfig in c:\users\chz\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.1.1)
Requirement already satisfied: packaging in c:\users\chz\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (23.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\chz\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.0.0)
Requirement already satisfied: colorama in c:\users\chz\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (0.4.6)
Requirement already satisfied: coverage[toml]>=5.2.1 in c:\users\chz\anaconda3\lib\site-packages (from pytest-cov>=2.5.1->pycountry-convert) (7.4.3)
Requirement already satisfied: streamlit-folium in c:\users\chz\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: streamlit>=1.13.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit-folium) (1.31.1)
Requirement already satisfied: folium!=0.15.0,>=0.13 in c:\users\chz\anaconda3\lib\site-packages (from streamlit-folium) (0.15.1)
Requirement already satisfied: jinja2 in c:\users\chz\anaconda3\lib\site-packages (from streamlit-folium) (3.1.2)
Requirement already satisfied: branca in c:\users\chz\anaconda3\lib\site-packages (from streamlit-folium) (0.7.1)
Requirement already satisfied: numpy in c:\users\chz\anaconda3\lib\site-packages (from folium!=0.15.0,>=0.13->streamlit-folium) (1.24.3)
Requirement already satisfied: requests in c:\users\chz\anaconda3\lib\site-packages (from folium!=0.15.0,>=0.13->streamlit-folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\chz\anaconda3\lib\site-packages (from folium!=0.15.0,>=0.13->streamlit-folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\chz\anaconda3\lib\site-packages (from jinja2->streamlit-folium) (2.1.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (5.2.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (8.0.4)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (6.0.0)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (2.0.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (10.0.1)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (2.8.2)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (4.10.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (3.1.42)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\chz\anaconda3\lib\site-packages (from streamlit>=1.13.0->streamlit-folium) (2.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\chz\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=1.13.0->streamlit-folium) (4.17.3)
Requirement already satisfied: toolz in c:\users\chz\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=1.13.0->streamlit-folium) (0.12.0)
Requirement already satisfied: colorama in c:\users\chz\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit>=1.13.0->streamlit-folium) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\chz\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.13.0->streamlit-folium) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\chz\anaconda3\lib\site-packages (from importlib-metadata<8,>=1.4->streamlit>=1.13.0->streamlit-folium) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chz\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=1.13.0->streamlit-folium) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chz\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=1.13.0->streamlit-folium) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\chz\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit>=1.13.0->streamlit-folium) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium!=0.15.0,>=0.13->streamlit-folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium!=0.15.0,>=0.13->streamlit-folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium!=0.15.0,>=0.13->streamlit-folium) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chz\anaconda3\lib\site-packages (from requests->folium!=0.15.0,>=0.13->streamlit-folium) (2023.11.17)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\chz\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit>=1.13.0->streamlit-folium) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\chz\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit>=1.13.0->streamlit-folium) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\chz\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.13.0->streamlit-folium) (5.0.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\chz\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.13.0->streamlit-folium) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\chz\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.13.0->streamlit-folium) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\chz\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit>=1.13.0->streamlit-folium) (0.1.0)
Collecting folium
  Obtaining dependency information for folium from https://files.pythonhosted.org/packages/b9/98/9ba4b9d2d07dd32765ddb4e4c189dcbdd7dca4d5a735e2e4ea756f40c36b/folium-0.16.0-py2.py3-none-any.whl.metadata
  Downloading folium-0.16.0-py2.py3-none-any.whl.metadata (3.6 kB)
Collecting branca>=0.6.0 (from folium)
  Obtaining dependency information for branca>=0.6.0 from https://files.pythonhosted.org/packages/17/ce/14166d0e273d12065516625fb02426350298e7b4ba59198b5fe454b46202/branca-0.7.1-py3-none-any.whl.metadata
  Using cached branca-0.7.1-py3-none-any.whl.metadata (1.5 kB)
Collecting jinja2>=2.9 (from folium)
  Obtaining dependency information for jinja2>=2.9 from https://files.pythonhosted.org/packages/30/6d/6de6be2d02603ab56e72997708809e8a5b0fbfee080735109b40a3564843/Jinja2-3.1.3-py3-none-any.whl.metadata
  Using cached Jinja2-3.1.3-py3-none-any.whl.metadata (3.3 kB)
Collecting numpy (from folium)
  Obtaining dependency information for numpy from https://files.pythonhosted.org/packages/3f/6b/5610004206cf7f8e7ad91c5a85a8c71b2f2f8051a0c0c4d5916b76d6cbb2/numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata
  Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
Collecting requests (from folium)
  Obtaining dependency information for requests from https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl.metadata
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting xyzservices (from folium)
  Obtaining dependency information for xyzservices from https://files.pythonhosted.org/packages/82/c3/e06dfa46464cce3eda4b86df8847cab99d9bc545c76807ee689545187a4c/xyzservices-2023.10.1-py3-none-any.whl.metadata
  Downloading xyzservices-2023.10.1-py3-none-any.whl.metadata (4.0 kB)
Collecting MarkupSafe>=2.0 (from jinja2>=2.9->folium)
  Obtaining dependency information for MarkupSafe>=2.0 from https://files.pythonhosted.org/packages/b7/a2/c78a06a9ec6d04b3445a949615c4c7ed86a0b2eb68e44e7541b9d57067cc/MarkupSafe-2.1.5-cp311-cp311-win_amd64.whl.metadata
  Using cached MarkupSafe-2.1.5-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Collecting charset-normalizer<4,>=2 (from requests->folium)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/57/ec/80c8d48ac8b1741d5b963797b7c0c869335619e13d4744ca2f67fc11c6fc/charset_normalizer-3.3.2-cp311-cp311-win_amd64.whl.metadata
  Using cached charset_normalizer-3.3.2-cp311-cp311-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests->folium)
  Obtaining dependency information for idna<4,>=2.5 from https://files.pythonhosted.org/packages/c2/e7/a82b05cf63a603df6e68d59ae6a68bf5064484a0718ea5033660af4b54a9/idna-3.6-py3-none-any.whl.metadata
  Using cached idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests->folium)
  Obtaining dependency information for urllib3<3,>=1.21.1 from https://files.pythonhosted.org/packages/a2/73/a68704750a7679d0b6d3ad7aa8d4da8e14e151ae82e6fee774e6e0d05ec8/urllib3-2.2.1-py3-none-any.whl.metadata
  Using cached urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests->folium)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/ba/06/a07f096c664aeb9f01624f858c3add0a4e913d6c96257acb4fce61e7de14/certifi-2024.2.2-py3-none-any.whl.metadata

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.75 requires requests_mock, which is not installed.
gensim 4.3.0 requires FuzzyTM>=0.4.0, which is not installed.
tables 3.8.0 requires blosc2~=2.0.0, which is not installed.
tables 3.8.0 requires cython>=0.29.21, which is not installed.
botocore 1.29.76 requires urllib3<1.27,>=1.25.4, but you have urllib3 2.2.1 which is incompatible.
conda-repo-cli 1.0.75 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.75 requires PyYAML==6.0.1, but you have pyyaml 6.0 which is incompatible.
numba 0.57.1 requires numpy<1.25,>=1.21, but you have numpy 1.26.4 which is incompatible.
panel 1.2.3 requires bokeh<3.3.0,>=3.1.1, but you have bokeh 2.4.3 which is incompatible.

In [1]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt

import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

In [2]:
# for visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import plotly.io as pio
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm

# for diagramming 
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [3]:
import folium

In [5]:
# read the json file from your data folder into a data frame
#df = pd.read_csv(r'C:\Users\chz\Documents\BI Exercise\\BI Exam\global air pollution dataset.csv')
df = pd.read_csv(r'DataSæt\global air pollution dataset.csv')
df2 = pd.read_csv(r"Datasæt\2017_-_Cities_Community_Wide_Emissions.csv")

In [6]:
# Define the correction mapping with the correct capitalization
correction_mapping = {
    "United States of America": "USA",
    "Viet Nam": "Vietnam",
    "Russian Federation": "Russia",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "Bolivia (Plurinational State of)": "Bolivia",
    "Venezuela (Bolivarian Republic of)": "Venezuela",
    "Iran (Islamic Republic of)": "Iran",
    "Syrian Arab Republic": "Syria",
    "Republic of Korea": "South Korea",
    "Lao People's Democratic Republic": "Laos",
    # Add other corrections as needed
}

# Apply the correction mapping to df and df2 and overwrite the original 'Country' column
df['Country'] = df['Country'].replace(correction_mapping).str.strip()
df2['Country'] = df2['Country'].replace(correction_mapping).str.strip()

# Proceed with the merge using the corrected country names
df_merged = pd.merge(df, df2, on='Country', how='inner')

# Rename 'City_x' to 'City' and 'Country_x' to 'Country'
df_merged.rename(columns={'City_x': 'City',}, inplace=True)

# Drop the extra 'Country' column
df_merged.drop(columns=['City_y'], inplace=True)

# Rearrange the columns
column_order = ['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value', 'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category', 'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value', 'PM2.5 AQI Category', 'Account number', 'Organization', 'Region', 'C40', 'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol', 'Protocol column', 'Gases included', 'Total emissions (metric tonnes CO2e)', 'Total Scope 1 Emissions (metric tonnes CO2e)', 'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment', 'Increase/Decrease from last year', 'Reason for increase/decrease in emissions', 'Population', 'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source', 'Average annual temperature (in Celsius)​', '​Average altitude (m)', '​Land area (in square km)', 'City Location', 'Country Location']
# Reorder the DataFrame columns
df_merged = df_merged[column_order]

In [7]:
df_merged.count()

Country                                         288622
City                                            288621
AQI Value                                       288622
AQI Category                                    288622
CO AQI Value                                    288622
CO AQI Category                                 288622
Ozone AQI Value                                 288622
Ozone AQI Category                              288622
NO2 AQI Value                                   288622
NO2 AQI Category                                288622
PM2.5 AQI Value                                 288622
PM2.5 AQI Category                              288622
Account number                                  288622
Organization                                    288622
Region                                          288622
C40                                              50912
Access                                          288622
Reporting year                                  288622
Accounting year                                 288622
Boundary                                        288622
Protocol                                        288622
Protocol column                                 174378
Gases included                                  139541
Total emissions (metric tonnes CO2e)            268060
Total Scope 1 Emissions (metric tonnes CO2e)    231013
Total Scope 2 Emissions (metric tonnes CO2e)    227537
Comment                                          97070
Increase/Decrease from last year                272604
Reason for increase/decrease in emissions       225301
Population                                      288622
Population year                                 288622
GDP                                             227956
GDP Currency                                    229626
GDP Year                                        229180
GDP Source                                      229895
Average annual temperature (in Celsius)​        283228
​Average altitude (m)                           268096
​Land area (in square km)                       287060
City Location                                   288622
Country Location                                288622
dtype: int64

In [8]:
df_merged.isnull().sum()

Country                                              0
City                                                 1
AQI Value                                            0
AQI Category                                         0
CO AQI Value                                         0
CO AQI Category                                      0
Ozone AQI Value                                      0
Ozone AQI Category                                   0
NO2 AQI Value                                        0
NO2 AQI Category                                     0
PM2.5 AQI Value                                      0
PM2.5 AQI Category                                   0
Account number                                       0
Organization                                         0
Region                                               0
C40                                             237710
Access                                               0
Reporting year                                       0
Accounting year                                      0
Boundary                                             0
Protocol                                             0
Protocol column                                 114244
Gases included                                  149081
Total emissions (metric tonnes CO2e)             20562
Total Scope 1 Emissions (metric tonnes CO2e)     57609
Total Scope 2 Emissions (metric tonnes CO2e)     61085
Comment                                         191552
Increase/Decrease from last year                 16018
Reason for increase/decrease in emissions        63321
Population                                           0
Population year                                      0
GDP                                              60666
GDP Currency                                     58996
GDP Year                                         59442
GDP Source                                       58727
Average annual temperature (in Celsius)​          5394
​Average altitude (m)                            20526
​Land area (in square km)                         1562
City Location                                        0
Country Location                                     0
dtype: int64

In [9]:
df_merged.drop(columns=['Gases included'], inplace=True)
df_merged.drop(columns=['Protocol column'], inplace=True)
df_merged.drop(columns=['Comment'], inplace=True)
df_merged.drop(columns=['Total Scope 1 Emissions (metric tonnes CO2e)'], inplace=True)
df_merged.drop(columns=['Total Scope 2 Emissions (metric tonnes CO2e)'], inplace=True)

In [10]:
# Convert nulls/NaNs to 'False'
df_merged['C40'] = df_merged['C40'].fillna('False')

# Convert any cell that contains "C40" to 'True', assuming "C40" indicates a true condition
# Adjust the condition as needed to match your data's specific representation of true
df_merged['C40'] = df_merged['C40'].apply(lambda x: 'True' if 'C40' in str(x) else 'False')

In [11]:
# Delete the null values from the data frame
df_merged = df_merged.dropna()

In [12]:
# Check the data frame for null values
df_merged.isnull().sum()

Country                                      0
City                                         0
AQI Value                                    0
AQI Category                                 0
CO AQI Value                                 0
CO AQI Category                              0
Ozone AQI Value                              0
Ozone AQI Category                           0
NO2 AQI Value                                0
NO2 AQI Category                             0
PM2.5 AQI Value                              0
PM2.5 AQI Category                           0
Account number                               0
Organization                                 0
Region                                       0
C40                                          0
Access                                       0
Reporting year                               0
Accounting year                              0
Boundary                                     0
Protocol                                     0
Total emissions (metric tonnes CO2e)         0
Increase/Decrease from last year             0
Reason for increase/decrease in emissions    0
Population                                   0
Population year                              0
GDP                                          0
GDP Currency                                 0
GDP Year                                     0
GDP Source                                   0
Average annual temperature (in Celsius)​     0
​Average altitude (m)                        0
​Land area (in square km)                    0
City Location                                0
Country Location                             0
dtype: int64

In [13]:
df_merged.count()

Country                                      150399
City                                         150399
AQI Value                                    150399
AQI Category                                 150399
CO AQI Value                                 150399
CO AQI Category                              150399
Ozone AQI Value                              150399
Ozone AQI Category                           150399
NO2 AQI Value                                150399
NO2 AQI Category                             150399
PM2.5 AQI Value                              150399
PM2.5 AQI Category                           150399
Account number                               150399
Organization                                 150399
Region                                       150399
C40                                          150399
Access                                       150399
Reporting year                               150399
Accounting year                              150399
Boundary                                     150399
Protocol                                     150399
Total emissions (metric tonnes CO2e)         150399
Increase/Decrease from last year             150399
Reason for increase/decrease in emissions    150399
Population                                   150399
Population year                              150399
GDP                                          150399
GDP Currency                                 150399
GDP Year                                     150399
GDP Source                                   150399
Average annual temperature (in Celsius)​     150399
​Average altitude (m)                        150399
​Land area (in square km)                    150399
City Location                                150399
Country Location                             150399
dtype: int64

In [14]:
# Extracting latitude and longitude from "City Location" and "Country Location" into new columns
df_merged[['City Latitude', 'City Longitude']] = df_merged['City Location'].str.extract(r'\(([^,]+), ([^)]+)\)')
df_merged[['Country Latitude', 'Country Longitude']] = df_merged['Country Location'].str.extract(r'\(([^,]+), ([^)]+)\)')

# Displaying the first few rows to ensure the transformation was successful
df_merged.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location,City Latitude,City Longitude,Country Latitude,Country Longitude
1242,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,Ministério da Saúde - DATASUS,23.0,5.0,133.1,"(-22.892857, -43.118381)","(-14.235004, -51.92528)",-22.892857,-43.118381,-14.235004,-51.92528
1243,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,IBGE,20.0,3.0,438.0,"(-27.5949884, -48.5481743)","(-14.235004, -51.92528)",-27.5949884,-48.5481743,-14.235004,-51.92528
1247,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,IBGE,23.7,5.0,1224.6,"(-22.9054389, -43.5614471)","(-14.235004, -51.92528)",-22.9054389,-43.5614471,-14.235004,-51.92528
1248,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,http://www.agencia.curitiba.pr.gov.br/publico/...,18.0,935.0,434.0,"(-25.431063, -49.264693)","(-14.235004, -51.92528)",-25.431063,-49.264693,-14.235004,-51.92528
1249,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,Produto Interno Bruto do Distrito Federal. COD...,21.0,1172.0,5780.0,"(-15.794229, -47.882166)","(-14.235004, -51.92528)",-15.794229,-47.882166,-14.235004,-51.92528

In [15]:
# Convert the latitude and longitude columns from strings to floats
df_merged['City Latitude'] = pd.to_numeric(df_merged['City Latitude'], errors='coerce')
df_merged['City Longitude'] = pd.to_numeric(df_merged['City Longitude'], errors='coerce')
df_merged['Country Latitude'] = pd.to_numeric(df_merged['Country Latitude'], errors='coerce')
df_merged['Country Longitude'] = pd.to_numeric(df_merged['Country Longitude'], errors='coerce')

In [16]:
df_merged.drop(columns=['City Location'], inplace=True)
df_merged.drop(columns=['Country Location'], inplace=True)

In [17]:
# Convert 'C40' from strings "True"/"False" to actual booleans
df_merged['C40'] = df_merged['C40'].map({'True': True, 'False': False})

# Create two new columns: 'C40_True' and 'C40_False'
df_merged['C40_True'] = df_merged['C40'].astype(int)  # This will convert True to 1 and False to 0
df_merged['C40_False'] = (~df_merged['C40']).astype(int)  # This inverts the boolean and then converts to 0/1

In [18]:
df_merged.drop(columns=['C40'], inplace=True)

In [19]:
df = df_merged

In [20]:
df.sample()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False
98523,USA,Bloomington,64,Moderate,2,Good,15,Good,13,Good,...,http://www.houston.org/assets/pdf/economy/Empl...,19.0,15.0,1625.0,29.760193,-95.36939,37.09024,-95.712891,1,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150399 entries, 1242 to 288616
Data columns (total 38 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Country                                    150399 non-null  object
 1   City                                       150399 non-null  object
 2   AQI Value                                  150399 non-null  int64
 3   AQI Category                               150399 non-null  object
 4   CO AQI Value                               150399 non-null  int64
 5   CO AQI Category                            150399 non-null  object
 6   Ozone AQI Value                            150399 non-null  int64
 7   Ozone AQI Category                         150399 non-null  object
 8   NO2 AQI Value                              150399 non-null  int64
 9   NO2 AQI Category                           150399 non-null  object
 10  PM2.5 AQI Value                            150399 non-null  int64
 11  PM2.5 AQI Category                         150399 non-null  object
 12  Account number                             150399 non-null  int64
 13  Organization                               150399 non-null  object
 14  Region                                     150399 non-null  object
 15  Access                                     150399 non-null  object
 16  Reporting year                             150399 non-null  int64
 17  Accounting year                            150399 non-null  object
 18  Boundary                                   150399 non-null  object
 19  Protocol                                   150399 non-null  object
 20  Total emissions (metric tonnes CO2e)       150399 non-null  float64
 21  Increase/Decrease from last year           150399 non-null  object
 22  Reason for increase/decrease in emissions  150399 non-null  object
 23  Population                                 150399 non-null  int64
 24  Population year                            150399 non-null  int64
 25  GDP                                        150399 non-null  float64
 26  GDP Currency                               150399 non-null  object
 27  GDP Year                                   150399 non-null  float64
 28  GDP Source                                 150399 non-null  object
 29  Average annual temperature (in Celsius)​   150399 non-null  float64
 30  ​Average altitude (m)                      150399 non-null  float64
 31  ​Land area (in square km)                  150399 non-null  float64
 32  City Latitude                              150399 non-null  float64
 33  City Longitude                             150399 non-null  float64
 34  Country Latitude                           150399 non-null  float64
 35  Country Longitude                          150399 non-null  float64
 36  C40_True                                   150399 non-null  int32
 37  C40_False                                  150399 non-null  int32
dtypes: float64(10), int32(2), int64(9), object(17)
memory usage: 43.6+ MB

In [22]:
import pycountry_convert as pc

#applying continent to the dataset for future use of folium mapping
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return None  # For countries that don't match

# Apply the conversion function to your DataFrame
df['Continent'] = df['Country'].apply(country_to_continent)
# Filter for other continents
north_american_countries_df = df[df['Continent'] == 'North America']
south_american_countries_df = df[df['Continent'] == 'South America']
asian_countries_df = df[df['Continent'] == 'Asia']
african_countries_df = df[df['Continent'] == 'Africa']
oceania_countries_df = df[df['Continent'] == 'Oceania']
Europe_df = df[df['Continent'] == 'Europe']

c:\Users\chz\anaconda3\Lib\site-packages\pycountry\db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
c:\Users\chz\anaconda3\Lib\site-packages\pycountry\db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)

In [23]:
df.count()

Country                                      150399
City                                         150399
AQI Value                                    150399
AQI Category                                 150399
CO AQI Value                                 150399
CO AQI Category                              150399
Ozone AQI Value                              150399
Ozone AQI Category                           150399
NO2 AQI Value                                150399
NO2 AQI Category                             150399
PM2.5 AQI Value                              150399
PM2.5 AQI Category                           150399
Account number                               150399
Organization                                 150399
Region                                       150399
Access                                       150399
Reporting year                               150399
Accounting year                              150399
Boundary                                     150399
Protocol                                     150399
Total emissions (metric tonnes CO2e)         150399
Increase/Decrease from last year             150399
Reason for increase/decrease in emissions    150399
Population                                   150399
Population year                              150399
GDP                                          150399
GDP Currency                                 150399
GDP Year                                     150399
GDP Source                                   150399
Average annual temperature (in Celsius)​     150399
​Average altitude (m)                        150399
​Land area (in square km)                    150399
City Latitude                                150399
City Longitude                               150399
Country Latitude                             150399
Country Longitude                            150399
C40_True                                     150399
C40_False                                    150399
Continent                                    150399
dtype: int64

In [25]:
df.sample(10)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False,Continent
179470,USA,Visalia,53,Moderate,2,Good,20,Good,4,Good,...,15.3,269.0,255.2,35.960600,-83.920700,37.09024,-95.712891,0,1,North America
221752,USA,North Platte,58,Moderate,1,Good,28,Good,2,Good,...,15.3,269.0,255.2,35.960600,-83.920700,37.09024,-95.712891,0,1,North America
54417,USA,Suisun City,50,Good,1,Good,25,Good,10,Good,...,10.0,2.0,124.0,42.358431,-71.059773,37.09024,-95.712891,1,0,North America
185467,USA,Burnsville,53,Moderate,1,Good,43,Good,2,Good,...,9.0,9.0,55.0,42.652600,-73.756200,37.09024,-95.712891,0,1,North America
133920,USA,Portsmouth,47,Good,1,Good,32,Good,5,Good,...,19.0,15.0,1625.0,29.760193,-95.369390,37.09024,-95.712891,1,0,North America
106097,USA,Petersburg,42,Good,1,Good,41,Good,2,Good,...,14.5,83.0,67.0,37.226486,-76.002594,37.09024,-95.712891,0,1,North America
240733,USA,North Miami,35,Good,1,Good,31,Good,3,Good,...,18.0,95.0,1215.0,34.052234,-118.243685,37.09024,-95.712891,1,0,North America
263707,USA,Sand Springs,56,Moderate,1,Good,49,Good,2,Good,...,14.3,89.0,21.8,37.379700,-122.137500,37.09024,-95.712891,0,1,North America
104234,USA,New Ulm,45,Good,1,Good,42,Good,1,Good,...,14.5,83.0,67.0,37.226486,-76.002594,37.09024,-95.712891,0,1,North America
254335,USA,Hugo,51,Moderate,1,Good,38,Good,5,Good,...,6.0,2405.0,20.0,39.195000,-106.837000,37.09024,-95.712891,0,1,North America

In [24]:
df.to_pickle("dataframe.pkl") # save df to a pickle file so it can be used for streamlit

In [ ]:
df.count()

In [ ]:
df.sample(20)

In [ ]:
# We have to convert the data from float to int in order to use pandas to calculate the correlations
numeric_df = df.select_dtypes(include=['float64', 'int64'])


df_cleaned = numeric_df.dropna()
# Calculate the correlation matrix
corr_matrix = df_cleaned.corr()

# Plot the correlation matrix
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Visualizing relationships between all numerical features
sns.pairplot(df.select_dtypes(include=['float64', 'int64']))
plt.show()

In [ ]:
plt.xlabel('AQI Value')
plt.ylabel('PM2.5 AQI Value')
plt.scatter(df['AQI Value'], df['PM2.5 AQI Value'], color='green')
plt.show()

In [ ]:
sns.distplot(df['AQI Value'],  label='AQI Value', norm_hist=True)

In [ ]:
sns.distplot(df['PM2.5 AQI Value'],  label='PM2.5 AQI Value', norm_hist=True)

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'AQI Value' for each country
country_aqi_means = df.groupby('Country')['AQI Value'].mean()

# Sorting the countries by AQI value for better visualization
country_aqi_means = country_aqi_means.sort_values()

# Creating the bar chart
plt.figure(figsize=(15, 25)) 
plt.barh(country_aqi_means.index, country_aqi_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average AQI Value')
plt.ylabel('Country')
plt.title('Average AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.

plt.show()

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'PM2.5 AQI Value' for each country
country_pm25_means = df.groupby('Country')['PM2.5 AQI Value'].mean()
# Sorting the countries by PM2.5 AQI value for better visualization
country_pm25_means = country_pm25_means.sort_values()
# Creating the bar chart
plt.figure(figsize=(15, 25))
plt.barh(country_pm25_means.index, country_pm25_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average PM2.5 AQI Value')
plt.ylabel('Country')
plt.title('Average PM2.5 AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.
plt.show()

In [ ]:
X = df['AQI Value'].values.reshape(-1, 1)
y = df['PM2.5 AQI Value'].values.reshape(-1, 1)

In [ ]:
# plot all
plt.ylabel('PM2.5 AQI Value')
plt.xlabel('AQI Value')
plt.scatter(X, y, color='blue')
plt.show()

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=0.15)

In [ ]:
# the shape of the subsets
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

In [ ]:
# creating an instance of Linear Regression model
myreg = LinearRegression()

In [ ]:
# fit it to our data
myreg.fit(X_train, y_train)
myreg

In [ ]:
# get the calculated coefficients
a = myreg.coef_
b = myreg.intercept_

In [ ]:
a

In [ ]:
b

In [ ]:
y_predicted = myreg.predict(X_test)
y_predicted

In [ ]:
y_test

In [ ]:
# Visualise the Linear Regression 
plt.title('Linear Regression')
plt.scatter(X, y, color='green')
plt.plot(X_train, a*X_train + b, color='blue')
plt.plot(X_test, y_predicted, color='orange')
plt.xlabel('length')
plt.ylabel('age')
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Predicting on the test set
y_pred = myreg.predict(X_test)

# Calculating metrics
print("R^2: ", r2_score(y_test, y_pred))
print("RMSE: ", np.sqrt(mean_squared_error(y_test, y_pred)))

In [ ]:
#create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'Country' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='Country', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# divide the data into 5 clusters using the KMeans algorithm
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5)
kmeans.fit(df[['AQI Value', 'PM2.5 AQI Value']])
df['cluster'] = kmeans.predict(df[['AQI Value', 'PM2.5 AQI Value']])
df.sample(10)

In [ ]:
# create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'cluster' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='cluster', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# Fit the model and predict clusters
kmeans = KMeans(n_clusters=5, random_state=42).fit(df_filtered[['AQI Value', 'PM2.5 AQI Value']])
df_filtered['cluster'] = kmeans.labels_

# Analyze centroids
centroids = kmeans.cluster_centers_
print("Centroids:\n", centroids)

# Plotting clusters and centroids
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df_filtered, x='AQI Value', y='PM2.5 AQI Value', hue='cluster', palette='viridis')
plt.scatter(centroids[:, 0], centroids[:, 1], s=100, c='red', label='Centroids')
plt.legend()
plt.show()

In [ ]:
population_data = df[['Country', 'Population']]

# Grouping and aggregating population data by country
population_by_country = population_data.groupby('Country')['Population'].sum().reset_index()

# Creating a pivot table with 'Country' as index
pivot_population = population_by_country.set_index('Country')

# Creating the heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(data=pivot_population, cmap='YlGnBu', annot=True, fmt=',.0f', linewidths=.5)
plt.title('Population by Country')
plt.xlabel('population')
plt.ylabel('Country')
plt.show()

In [ ]:
# Splitting the 'Country Location' column into separate longitude and latitude columns
df[['Latitude', 'Longitude']] = df['Country Location'].str.strip('()').str.split(', ', expand=True).astype(float)

# Creating a 3D scatter plot
scatter_plot = go.Scatter3d(
    x=df['Longitude'],
    y=df['Latitude'],
    z=df['Population year'],
    mode='markers',
    marker=dict(
        size=5,
        color='blue',                # Set color to an array/list of desired values
        opacity=0.8
    )
)

# Setting layout
layout = go.Layout(
    title='3D Population Map',
    scene=dict(
        xaxis=dict(title='Country Longitude'),
        yaxis=dict(title='Country Latitude'),
        zaxis=dict(title='Population')
    )
)

# Combining data and layout into a figure
fig = go.Figure(data=[scatter_plot], layout=layout)

# Show the figure
fig.show()

In [ ]:
df.sample()

In [ ]:
filtered_df = df[df['Country'] == 'Russian Federation']

In [ ]:
filtered_df.sample()

In [35]:
df_europe = df[df['Country'] == 'USA']

In [36]:
df_europe.sample(50)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False,Continent
154614,USA,Fredonia,35,Good,1,Good,32,Good,4,Good,...,10.0,2.0,124.0,42.358431,-71.059773,37.09024,-95.712891,1,0,North America
86109,USA,Sanger,56,Moderate,2,Good,10,Good,15,Good,...,13.9,142.0,170.9,38.627000,-90.199400,37.09024,-95.712891,0,1,North America
104667,USA,Goffstown,35,Good,1,Good,33,Good,1,Good,...,15.1,13.0,144.0,37.804400,-122.270800,37.09024,-95.712891,0,1,North America
92821,USA,Kailua,24,Good,0,Good,23,Good,0,Good,...,6.0,2405.0,20.0,39.195000,-106.837000,37.09024,-95.712891,0,1,North America
256744,USA,Texarkana,51,Moderate,2,Good,34,Good,4,Good,...,15.3,269.0,255.2,35.960600,-83.920700,37.09024,-95.712891,0,1,North America
196832,USA,Windsor Locks,58,Moderate,2,Good,21,Good,12,Good,...,16.7,2000.0,94.5,40.037900,-76.305500,37.09024,-95.712891,0,1,North America
246102,USA,West Fargo,46,Good,1,Good,33,Good,3,Good,...,10.5,203.0,65.5,41.661100,-91.530200,37.09024,-95.712891,0,1,North America
206884,USA,Elk River,43,Good,1,Good,30,Good,11,Good,...,9.0,192.0,359.0,42.331427,-83.045754,37.09024,-95.712891,0,1,North America
95660,USA,Rossmoor,90,Moderate,2,Good,14,Good,26,Good,...,20.0,149.0,704.0,30.267200,-97.743100,37.09024,-95.712891,1,0,North America
216675,USA,Shorewood,48,Good,1,Good,29,Good,9,Good,...,10.9,1655.0,67.0,40.027400,-105.251900,37.09024,-95.712891,0,1,North America
68684,USA,Southbury,81,Moderate,3,Good,5,Good,34,Good,...,7.9,265.0,139.8,44.983334,-93.266670,37.09024,-95.712891,0,1,North America
141949,USA,Newport Beach,60,Moderate,2,Good,14,Good,20,Good,...,13.0,168.0,124.0,39.103100,-84.512000,37.09024,-95.712891,0,1,North America
48961,USA,Bridgewater,45,Good,1,Good,38,Good,2,Good,...,13.0,168.0,124.0,39.103100,-84.512000,37.09024,-95.712891,0,1,North America
187363,USA,North Bay Shore,59,Moderate,2,Good,16,Good,21,Good,...,9.0,192.0,359.0,42.331427,-83.045754,37.09024,-95.712891,0,1,North America
98368,USA,Burien,51,Moderate,2,Good,23,Good,13,Good,...,22.0,340.0,1355.0,33.448400,-112.074000,37.09024,-95.712891,0,1,North America
143858,USA,Seguin,55,Moderate,1,Good,16,Good,3,Good,...,16.7,2000.0,94.5,40.037900,-76.305500,37.09024,-95.712891,0,1,North America
136730,USA,Yucaipa,57,Moderate,2,Good,16,Good,12,Good,...,16.7,2000.0,94.5,40.037900,-76.305500,37.09024,-95.712891,0,1,North America
50090,USA,Rio Rancho,37,Good,1,Good,14,Good,10,Good,...,10.0,1525.0,147.0,40.585300,105.084400,37.09024,-95.712891,0,1,North America
126864,USA,Belvidere,38,Good,1,Good,38,Good,1,Good,...,13.0,10.0,784.0,40.712784,-74.005941,37.09024,-95.712891,1,0,North America
150613,USA,Seymour,84,Moderate,3,Good,6,Good,35,Good,...,22.0,340.0,1355.0,33.448400,-112.074000,37.09024,-95.712891,0,1,North America
124718,USA,Santa Clarita,81,Moderate,2,Good,30,Good,18,Good,...,21.0,26.0,13.0,38.049365,-122.158578,37.09024,-95.712891,0,1,North America
159069,USA,Anniston,42,Good,1,Good,31,Good,3,Good,...,10.0,2.0,124.0,42.358431,-71.059773,37.09024,-95.712891,1,0,North America
212678,USA,Skokie,82,Moderate,2,Good,9,Good,31,Good,...,6.5,2134.0,165.0,35.199200,-111.631100,37.09024,-95.712891,0,1,North America
142129,USA,North Bethesda,42,Good,1,Good,40,Good,6,Good,...,15.3,269.0,255.2,35.960600,-83.920700,37.09024,-95.712891,0,1,North America
239372,USA,Lewiston,38,Good,1,Good,24,Good,2,Good,...,10.4,199.0,201.0,41.499300,-81.694400,37.09024,-95.712891,0,1,North America
160731,USA,Mandeville,43,Good,2,Good,40,Good,6,Good,...,19.0,15.0,1625.0,29.760193,-95.369390,37.09024,-95.712891,1,0,North America
147734,USA,Chillum,51,Moderate,1,Good,51,Moderate,1,Good,...,15.0,15.0,40.0,37.724930,-122.156077,37.09024,-95.712891,0,1,North America
199821,USA,Arecibo,74,Moderate,0,Good,23,Good,0,Good,...,11.1,293.0,151.0,40.440625,-79.995886,37.09024,-95.712891,0,1,North America
139553,USA,Danville,58,Moderate,2,Good,35,Good,6,Good,...,15.0,15.0,40.0,37.724930,-122.156077,37.09024,-95.712891,0,1,North America
88860,USA,Forest Grove,63,Moderate,1,Good,31,Good,3,Good,...,32.0,292.0,132.0,34.000700,-81.034800,37.09024,-95.712891,0,1,North America
136684,USA,Yucaipa,57,Moderate,2,Good,16,Good,12,Good,...,13.0,168.0,124.0,39.103100,-84.512000,37.09024,-95.712891,0,1,North America
252529,USA,Cottonwood Heights,51,Moderate,1,Good,18,Good,10,Good,...,14.3,89.0,21.8,37.379700,-122.137500,37.09024,-95.712891,0,1,North America
189134,USA,Seabrook,30,Good,0,Good,24,Good,3,Good,...,20.0,149.0,704.0,30.267200,-97.743100,37.09024,-95.712891,1,0,North America
199915,USA,Lawton,81,Moderate,1,Good,24,Good,2,Good,...,12.6,231.0,163.4,38.951705,-92.334072,37.09024,-95.712891,0,1,North America
222323,USA,Eunice,70,Moderate,1,Good,19,Good,3,Good,...,21.0,26.0,13.0,38.049365,-122.158578,37.09024,-95.712891,0,1,North America
126522,USA,Oceanside,57,Moderate,2,Good,22,Good,9,Good,...,10.9,1655.0,67.0,40.027400,-105.251900,37.09024,-95.712891,0,1,North America
251774,USA,Kokomo,54,Moderate,1,Good,39,Good,1,Good,...,23.6,11.0,378.1,25.901700,-97.497500,37.09024,-95.712891,0,1,North America
74940,USA,Palos Heights,58,Moderate,1,Good,36,Good,4,Good,...,15.1,13.0,144.0,37.804400,-122.270800,37.09024,-95.712891,0,1,North America
39518,USA,Leominster,30,Good,1,Good,30,Good,3,Good,...,15.0,15.0,40.0,37.724930,-122.156077,37.09024,-95.712891,0,1,North America
193671,USA,Rancho Cordova,51,Moderate,1,Good,26,Good,7,Good,...,10.9,1655.0,67.0,40.027400,-105.251900,37.09024,-95.712891,0,1,North America
153586,USA,Huntington,63,Moderate,1,Good,23,Good,16,Good,...,9.0,192.0,359.0,42.331427,-83.045754,37.09024,-95.712891,0,1,North America
249972,USA,Milford,37,Good,1,Good,37,Good,0,Good,...,13.9,142.0,170.9,38.627000,-90.199400,37.09024,-95.712891,0,1,North America
54324,USA,South River,55,Moderate,2,Good,27,Good,11,Good,...,15.1,182.0,1367.0,36.162700,-86.781600,37.09024,-95.712891,0,1,North America
97446,USA,Canyon Rim,58,Moderate,1,Good,7,Good,14,Good,...,32.0,292.0,132.0,34.000700,-81.034800,37.09024,-95.712891,0,1,North America
189133,USA,Seabrook,30,Good,0,Good,24,Good,3,Good,...,11.8,32.0,117.0,37.668900,-122.080800,37.09024,-95.712891,0,1,North America
133303,USA,Newburg,81,Moderate,1,Good,38,Good,3,Good,...,9.0,9.0,55.0,42.652600,-73.756200,37.09024,-95.712891,0,1,North America
65877,USA,Grafton,78,Moderate,3,Good,10,Good,19,Good,...,10.5,203.0,65.5,41.661100,-91.530200,37.09024,-95.712891,0,1,North America
31377,USA,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,...,14.7,240.0,210.0,39.290385,-76.612189,37.09024,-95.712891,0,1,North America
152522,USA,Ridgewood,52,Moderate,1,Good,45,Good,2,Good,...,20.0,149.0,704.0,30.267200,-97.743100,37.09024,-95.712891,1,0,North America
77225,USA,Seven Hills,36,Good,2,Good,34,Good,5,Good,...,10.0,1525.0,147.0,40.585300,105.084400,37.09024,-95.712891,0,1,North America

In [ ]:
df_sampled = df_europe.sample(n=500, replace=False, random_state=42)

In [ ]:
df_sampled.count()

In [ ]:
import folium
import json

# Load the GeoJSON data from a local file
with open(r"C:\Users\chz\Documents\BI Exercise\Datasæt\Eumap.json", 'r', encoding='utf-8') as f:
    geojson_data = json.load(f)

# Assuming 'df' is your DataFrame and already correctly set up
m = folium.Map(location=[df_sampled['Country Latitude'].mean(), df_sampled['Country Longitude'].mean()], zoom_start=3)

# Add markers for each data point
for index, row in df.iterrows():
    folium.Marker([row['Country Latitude'], row['Country Longitude']], popup=row['Population']).add_to(m)

# Add polygon overlays for countries using the loaded GeoJSON data
folium.GeoJson(data=geojson_data).add_to(m)

# Save and display the map
m.save('map.html')

In [ ]:
m