In [ ]:
! pip install plotly
! pip install folium
! pip install fuzzywuzzy
! pip install python-Levenshtein

In [1]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

In [2]:
# for visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import plotly.io as pio
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm

# for diagramming 
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [3]:
import folium

In [4]:
# read the json file from your data folder into a data frame
#df = pd.read_csv(r'C:\Users\chz\Documents\BI Exercise\\BI Exam\global air pollution dataset.csv')
df = pd.read_csv(r'DataSæt\global air pollution dataset.csv')
df2 = pd.read_csv(r"Datasæt\2017_-_Cities_Community_Wide_Emissions.csv")
df3 = pd.read_csv(r"C:Datasæt\2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv")

In [5]:
# Standardizing the 'Country' column in both DataFrames
df['Country'] = df['Country'].str.title().str.strip()
df2['Country'] = df2['Country'].str.title().str.strip()

# Merging df and df2 based on 'Country' after standardization
df_merged = pd.merge(df, df2, on='Country', how='outer')

# Sampling 50 rows from the merged DataFrame to verify the operation
# Note: Since the actual DataFrames are empty in this simulation, this step is for demonstration purposes.
sampled_df_merged = df_merged.sample(50)

In [6]:
df_merged.count()

Country                                         65872
City_x                                          66200
AQI Value                                       66201
AQI Category                                    66201
CO AQI Value                                    66201
CO AQI Category                                 66201
Ozone AQI Value                                 66201
Ozone AQI Category                              66201
NO2 AQI Value                                   66201
NO2 AQI Category                                66201
PM2.5 AQI Value                                 66201
PM2.5 AQI Category                              66201
Account number                                  53096
Organization                                    53096
City_y                                          53096
Region                                          53096
C40                                             14673
Access                                          53096
Reporting year                                  53096
Accounting year                                 53096
Boundary                                        53096
Protocol                                        53096
Protocol column                                 42604
Gases included                                  24158
Total emissions (metric tonnes CO2e)            49759
Scopes Included                                 53096
Total Scope 1 Emissions (metric tonnes CO2e)    33667
Total Scope 2 Emissions (metric tonnes CO2e)    35932
Comment                                         13267
Increase/Decrease from last year                44060
Reason for increase/decrease in emissions       40220
Population                                      53096
Population year                                 53096
GDP                                             45805
GDP Currency                                    41764
GDP Year                                        46970
GDP Source                                      44814
Average annual temperature (in Celsius)​        50573
​Average altitude (m)                           49791
​Land area (in square km)                       51534
City Location                                   53096
Country Location                                53096
dtype: int64

In [7]:
df_merged.isnull().sum()

Country                                           427
City_x                                             99
AQI Value                                          98
AQI Category                                       98
CO AQI Value                                       98
CO AQI Category                                    98
Ozone AQI Value                                    98
Ozone AQI Category                                 98
NO2 AQI Value                                      98
NO2 AQI Category                                   98
PM2.5 AQI Value                                    98
PM2.5 AQI Category                                 98
Account number                                  13203
Organization                                    13203
City_y                                          13203
Region                                          13203
C40                                             51626
Access                                          13203
Reporting year                                  13203
Accounting year                                 13203
Boundary                                        13203
Protocol                                        13203
Protocol column                                 23695
Gases included                                  42141
Total emissions (metric tonnes CO2e)            16540
Scopes Included                                 13203
Total Scope 1 Emissions (metric tonnes CO2e)    32632
Total Scope 2 Emissions (metric tonnes CO2e)    30367
Comment                                         53032
Increase/Decrease from last year                22239
Reason for increase/decrease in emissions       26079
Population                                      13203
Population year                                 13203
GDP                                             20494
GDP Currency                                    24535
GDP Year                                        19329
GDP Source                                      21485
Average annual temperature (in Celsius)​        15726
​Average altitude (m)                           16508
​Land area (in square km)                       14765
City Location                                   13203
Country Location                                13203
dtype: int64

In [9]:
df_merged.drop(columns=['Gases included'], inplace=True)
df_merged.drop(columns=['Comment'], inplace=True)
df_merged.drop(columns=['C40'], inplace=True)
df_merged.drop(columns=['Total Scope 1 Emissions (metric tonnes CO2e)'], inplace=True)
df_merged.drop(columns=['Total Scope 2 Emissions (metric tonnes CO2e)'], inplace=True)

KeyError: "['Gases included'] not found in axis"

In [9]:
df_merged.count()

Country                                         65872
City_x                                          66200
AQI Value                                       66201
AQI Category                                    66201
CO AQI Value                                    66201
CO AQI Category                                 66201
Ozone AQI Value                                 66201
Ozone AQI Category                              66201
NO2 AQI Value                                   66201
NO2 AQI Category                                66201
PM2.5 AQI Value                                 66201
PM2.5 AQI Category                              66201
Account number                                  53096
Organization                                    53096
City_y                                          53096
Region                                          53096
C40                                             14673
Access                                          53096
Reporting year                                  53096
Accounting year                                 53096
Boundary                                        53096
Protocol                                        53096
Protocol column                                 42604
Total emissions (metric tonnes CO2e)            49759
Scopes Included                                 53096
Total Scope 1 Emissions (metric tonnes CO2e)    33667
Total Scope 2 Emissions (metric tonnes CO2e)    35932
Increase/Decrease from last year                44060
Reason for increase/decrease in emissions       40220
Population                                      53096
Population year                                 53096
GDP                                             45805
GDP Currency                                    41764
GDP Year                                        46970
GDP Source                                      44814
Average annual temperature (in Celsius)​        50573
​Average altitude (m)                           49791
​Land area (in square km)                       51534
City Location                                   53096
Country Location                                53096
dtype: int64

In [8]:
# Delete the null values from the data frame
df_merged = df_merged.dropna()

In [9]:
# Check the data frame for null values
df_merged.isnull().sum()

Country                                         0
City_x                                          0
AQI Value                                       0
AQI Category                                    0
CO AQI Value                                    0
CO AQI Category                                 0
Ozone AQI Value                                 0
Ozone AQI Category                              0
NO2 AQI Value                                   0
NO2 AQI Category                                0
PM2.5 AQI Value                                 0
PM2.5 AQI Category                              0
Account number                                  0
Organization                                    0
City_y                                          0
Region                                          0
Access                                          0
Reporting year                                  0
Accounting year                                 0
Boundary                                        0
Protocol                                        0
Protocol column                                 0
Total emissions (metric tonnes CO2e)            0
Scopes Included                                 0
Total Scope 1 Emissions (metric tonnes CO2e)    0
Total Scope 2 Emissions (metric tonnes CO2e)    0
Increase/Decrease from last year                0
Reason for increase/decrease in emissions       0
Population                                      0
Population year                                 0
GDP                                             0
GDP Currency                                    0
GDP Year                                        0
GDP Source                                      0
Average annual temperature (in Celsius)​        0
​Average altitude (m)                           0
​Land area (in square km)                       0
City Location                                   0
Country Location                                0
dtype: int64

In [10]:
df_merged.count()

Country                                         19161
City_x                                          19161
AQI Value                                       19161
AQI Category                                    19161
CO AQI Value                                    19161
CO AQI Category                                 19161
Ozone AQI Value                                 19161
Ozone AQI Category                              19161
NO2 AQI Value                                   19161
NO2 AQI Category                                19161
PM2.5 AQI Value                                 19161
PM2.5 AQI Category                              19161
Account number                                  19161
Organization                                    19161
City_y                                          19161
Region                                          19161
Access                                          19161
Reporting year                                  19161
Accounting year                                 19161
Boundary                                        19161
Protocol                                        19161
Protocol column                                 19161
Total emissions (metric tonnes CO2e)            19161
Scopes Included                                 19161
Total Scope 1 Emissions (metric tonnes CO2e)    19161
Total Scope 2 Emissions (metric tonnes CO2e)    19161
Increase/Decrease from last year                19161
Reason for increase/decrease in emissions       19161
Population                                      19161
Population year                                 19161
GDP                                             19161
GDP Currency                                    19161
GDP Year                                        19161
GDP Source                                      19161
Average annual temperature (in Celsius)​        19161
​Average altitude (m)                           19161
​Land area (in square km)                       19161
City Location                                   19161
Country Location                                19161
dtype: int64

In [12]:
df.count()

Country               23036
City                  23462
AQI Value             23463
AQI Category          23463
CO AQI Value          23463
CO AQI Category       23463
Ozone AQI Value       23463
Ozone AQI Category    23463
NO2 AQI Value         23463
NO2 AQI Category      23463
PM2.5 AQI Value       23463
PM2.5 AQI Category    23463
dtype: int64

In [ ]:
df.sample(20)

In [ ]:
# graph for detecting outliers in the 'AQI Value' column
sns.boxplot(x=df['AQI Value'])
plt.show()

# Assuming you decide to remove outliers beyond the 1.5 * IQR range
Q1 = df['AQI Value'].quantile(0.25)
Q3 = df['AQI Value'].quantile(0.75)
IQR = Q3 - Q1

df_filtered = df[~((df['AQI Value'] < (Q1 - 1.5 * IQR)) | (df['AQI Value'] > (Q3 + 1.5 * IQR)))]

In [ ]:
denmark_df = df[df['Country'] == 'Denmark']

In [ ]:
denmark_df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# We have to convert the data from float to int in order to use pandas to calculate the correlations
numeric_df = df.select_dtypes(include=['float64', 'int64'])


df_cleaned = numeric_df.dropna()
# Calculate the correlation matrix
corr_matrix = df_cleaned.corr()

# Plot the correlation matrix
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Visualizing relationships between all numerical features
sns.pairplot(df_filtered.select_dtypes(include=['float64', 'int64']))
plt.show()

In [ ]:
plt.figure(figsize= (10, 6))

# Plot histograms for all columns in the DataFrame
df.hist()

# Adjust layout to prevent overlap
plt.tight_layout()

# Show the plot
plt.show()

In [ ]:
plt.xlabel('AQI Value')
plt.ylabel('PM2.5 AQI Value')
plt.scatter(df['AQI Value'], df['PM2.5 AQI Value'], color='green')
plt.show()

In [ ]:
sns.distplot(df['AQI Value'],  label='AQI Value', norm_hist=True)

In [ ]:
sns.distplot(df['PM2.5 AQI Value'],  label='PM2.5 AQI Value', norm_hist=True)

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'AQI Value' for each country
country_aqi_means = df.groupby('Country')['AQI Value'].mean()

# Sorting the countries by AQI value for better visualization
country_aqi_means = country_aqi_means.sort_values()

# Creating the bar chart
plt.figure(figsize=(15, 25)) 
plt.barh(country_aqi_means.index, country_aqi_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average AQI Value')
plt.ylabel('Country')
plt.title('Average AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.

plt.show()

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'PM2.5 AQI Value' for each country
country_pm25_means = df.groupby('Country')['PM2.5 AQI Value'].mean()
# Sorting the countries by PM2.5 AQI value for better visualization
country_pm25_means = country_pm25_means.sort_values()
# Creating the bar chart
plt.figure(figsize=(15, 25))
plt.barh(country_pm25_means.index, country_pm25_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average PM2.5 AQI Value')
plt.ylabel('Country')
plt.title('Average PM2.5 AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.
plt.show()

In [ ]:
X = df['AQI Value'].values.reshape(-1, 1)
y = df['PM2.5 AQI Value'].values.reshape(-1, 1)

In [ ]:
# plot all
plt.ylabel('PM2.5 AQI Value')
plt.xlabel('AQI Value')
plt.scatter(X, y, color='blue')
plt.show()

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=0.15)

In [ ]:
# the shape of the subsets
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

In [ ]:
# creating an instance of Linear Regression model
myreg = LinearRegression()

In [ ]:
# fit it to our data
myreg.fit(X_train, y_train)
myreg

In [ ]:
# get the calculated coefficients
a = myreg.coef_
b = myreg.intercept_

In [ ]:
a

In [ ]:
b

In [ ]:
y_predicted = myreg.predict(X_test)
y_predicted

In [ ]:
y_test

In [ ]:
# Visualise the Linear Regression 
plt.title('Linear Regression')
plt.scatter(X, y, color='green')
plt.plot(X_train, a*X_train + b, color='blue')
plt.plot(X_test, y_predicted, color='orange')
plt.xlabel('length')
plt.ylabel('age')
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Predicting on the test set
y_pred = myreg.predict(X_test)

# Calculating metrics
print("R^2: ", r2_score(y_test, y_pred))
print("RMSE: ", np.sqrt(mean_squared_error(y_test, y_pred)))

In [ ]:
#create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'Country' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='Country', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# divide the data into 5 clusters using the KMeans algorithm
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5)
kmeans.fit(df[['AQI Value', 'PM2.5 AQI Value']])
df['cluster'] = kmeans.predict(df[['AQI Value', 'PM2.5 AQI Value']])
df.sample(10)

In [ ]:
# create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'cluster' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='cluster', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# Fit the model and predict clusters
kmeans = KMeans(n_clusters=5, random_state=42).fit(df_filtered[['AQI Value', 'PM2.5 AQI Value']])
df_filtered['cluster'] = kmeans.labels_

# Analyze centroids
centroids = kmeans.cluster_centers_
print("Centroids:\n", centroids)

# Plotting clusters and centroids
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df_filtered, x='AQI Value', y='PM2.5 AQI Value', hue='cluster', palette='viridis')
plt.scatter(centroids[:, 0], centroids[:, 1], s=100, c='red', label='Centroids')
plt.legend()
plt.show()