In [ ]:
! pip install plotly
! pip install Streamlit
! pip install folium
! pip install fuzzywuzzy
! pip install python-Levenshtein
! pip install pycountry-convert
! pip install streamlit-folium
! pip install branca
! pip install joblib

In [2]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt
import os
import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

In [3]:
# for visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import plotly.io as pio
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm

# for diagramming 
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [4]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [5]:
import folium

In [6]:
# read the json file from your data folder into a data frame
#df = pd.read_csv(r'C:\Users\chz\Documents\BI Exercise\\BI Exam\global air pollution dataset.csv')

# Correctly constructing the file path
dataset_path = os.path.join('DataSæt', 'global air pollution dataset.csv')
dataset_path2 = os.path.join('DataSæt', '2017_-_Cities_Community_Wide_Emissions.csv')

# Loading the datasets
df = pd.read_csv(dataset_path)
df2 = pd.read_csv(dataset_path2)

In [ ]:
df.shape

In [ ]:
df2.shape

In [7]:
# Define the correction mapping with the correct capitalization
correction_mapping = {
    "United States of America": "USA",
    "Viet Nam": "Vietnam",
    "Russian Federation": "Russia",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "Bolivia (Plurinational State of)": "Bolivia",
    "Venezuela (Bolivarian Republic of)": "Venezuela",
    "Iran (Islamic Republic of)": "Iran",
    "Syrian Arab Republic": "Syria",
    "Republic of Korea": "South Korea",
    "Lao People's Democratic Republic": "Laos",
    # Add other corrections as needed
}

# Apply the correction mapping to df and df2 and overwrite the original 'Country' column
df['Country'] = df['Country'].replace(correction_mapping).str.strip()
df2['Country'] = df2['Country'].replace(correction_mapping).str.strip()

# Proceed with the merge using the corrected country names
df_merged = pd.merge(df, df2, on='Country', how='inner')

# Rename 'City_x' to 'City' and 'Country_x' to 'Country'
df_merged.rename(columns={'City_x': 'City',}, inplace=True)

# Drop the extra 'Country' column
df_merged.drop(columns=['City_y'], inplace=True)

# Rearrange the columns
column_order = ['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value', 'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category', 'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value', 'PM2.5 AQI Category', 'Account number', 'Organization', 'Region', 'C40', 'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol', 'Protocol column', 'Gases included', 'Total emissions (metric tonnes CO2e)', 'Total Scope 1 Emissions (metric tonnes CO2e)', 'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment', 'Increase/Decrease from last year', 'Reason for increase/decrease in emissions', 'Population', 'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source', 'Average annual temperature (in Celsius)​', '​Average altitude (m)', '​Land area (in square km)', 'City Location', 'Country Location']
# Reorder the DataFrame columns
df_merged = df_merged[column_order]

In [8]:
df_merged.shape

(288720, 40)

In [9]:
df_merged.isnull().sum()

Country                                              0
City                                                 1
AQI Value                                            0
AQI Category                                         0
CO AQI Value                                         0
CO AQI Category                                      0
Ozone AQI Value                                      0
Ozone AQI Category                                   0
NO2 AQI Value                                        0
NO2 AQI Category                                     0
PM2.5 AQI Value                                      0
PM2.5 AQI Category                                   0
Account number                                       0
Organization                                         0
Region                                               0
C40                                             237791
Access                                               0
Reporting year                                       0
Accounting year                                      0
Boundary                                             0
Protocol                                             0
Protocol column                                 114290
Gases included                                  149132
Total emissions (metric tonnes CO2e)             20569
Total Scope 1 Emissions (metric tonnes CO2e)     57629
Total Scope 2 Emissions (metric tonnes CO2e)     61107
Comment                                         191619
Increase/Decrease from last year                 16022
Reason for increase/decrease in emissions        63341
Population                                           0
Population year                                      0
GDP                                              60686
GDP Currency                                     59014
GDP Year                                         59463
GDP Source                                       58750
Average annual temperature (in Celsius)​          5396
​Average altitude (m)                            20535
​Land area (in square km)                         1562
City Location                                        0
Country Location                                     0
dtype: int64

In [10]:
df_merged.drop(columns=['Gases included'], inplace=True)
df_merged.drop(columns=['Protocol column'], inplace=True)
df_merged.drop(columns=['Comment'], inplace=True)
df_merged.drop(columns=['Total Scope 1 Emissions (metric tonnes CO2e)'], inplace=True)
df_merged.drop(columns=['Total Scope 2 Emissions (metric tonnes CO2e)'], inplace=True)
df_merged.drop(columns=['Account number'], inplace=True)
df_merged.drop(columns=['Organization'], inplace=True)
df_merged.drop(columns=['Accounting year'], inplace=True)
df_merged.drop(columns=['Boundary'], inplace=True)
df_merged.drop(columns=['Protocol'], inplace=True)
df_merged.drop(columns=['Increase/Decrease from last year'], inplace=True)
df_merged.drop(columns=['Reason for increase/decrease in emissions'], inplace=True)
df_merged.drop(columns=['Population year'], inplace=True)
df_merged.drop(columns=['GDP Currency'], inplace=True)
df_merged.drop(columns=['GDP Source'], inplace=True)
df_merged.drop(columns=['Access'], inplace=True)

In [11]:
# Convert nulls/NaNs to 'False'
df_merged['C40'] = df_merged['C40'].fillna('False')

# Convert any cell that contains "C40" to 'True', assuming "C40" indicates a true condition
# Adjust the condition as needed to match your data's specific representation of true
df_merged['C40'] = df_merged['C40'].apply(lambda x: 'True' if 'C40' in str(x) else 'False')

In [12]:
# Delete the null values from the data frame
df_merged = df_merged.dropna()

In [13]:
# Check the data frame for null values
df_merged.isnull().sum()

Country                                     0
City                                        0
AQI Value                                   0
AQI Category                                0
CO AQI Value                                0
CO AQI Category                             0
Ozone AQI Value                             0
Ozone AQI Category                          0
NO2 AQI Value                               0
NO2 AQI Category                            0
PM2.5 AQI Value                             0
PM2.5 AQI Category                          0
Region                                      0
C40                                         0
Reporting year                              0
Total emissions (metric tonnes CO2e)        0
Population                                  0
GDP                                         0
GDP Year                                    0
Average annual temperature (in Celsius)​    0
​Average altitude (m)                       0
​Land area (in square km)                   0
City Location                               0
Country Location                            0
dtype: int64

In [14]:
df_merged.count()

Country                                     195254
City                                        195254
AQI Value                                   195254
AQI Category                                195254
CO AQI Value                                195254
CO AQI Category                             195254
Ozone AQI Value                             195254
Ozone AQI Category                          195254
NO2 AQI Value                               195254
NO2 AQI Category                            195254
PM2.5 AQI Value                             195254
PM2.5 AQI Category                          195254
Region                                      195254
C40                                         195254
Reporting year                              195254
Total emissions (metric tonnes CO2e)        195254
Population                                  195254
GDP                                         195254
GDP Year                                    195254
Average annual temperature (in Celsius)​    195254
​Average altitude (m)                       195254
​Land area (in square km)                   195254
City Location                               195254
Country Location                            195254
dtype: int64

In [15]:
# Extracting latitude and longitude from "City Location" and "Country Location" into new columns
df_merged[['City Latitude', 'City Longitude']] = df_merged['City Location'].str.extract(r'\(([^,]+), ([^)]+)\)')
df_merged[['Country Latitude', 'Country Longitude']] = df_merged['Country Location'].str.extract(r'\(([^,]+), ([^)]+)\)')

# Displaying the first few rows to ensure the transformation was successful
df_merged.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,GDP Year,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location,City Latitude,City Longitude,Country Latitude,Country Longitude
1241,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,2012.0,26.0,8.0,692.0,"(-12.97304, -38.502304)","(-14.235004, -51.92528)",-12.97304,-38.502304,-14.235004,-51.92528
1242,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,2013.0,23.0,5.0,133.1,"(-22.892857, -43.118381)","(-14.235004, -51.92528)",-22.892857,-43.118381,-14.235004,-51.92528
1243,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,2013.0,20.0,3.0,438.0,"(-27.5949884, -48.5481743)","(-14.235004, -51.92528)",-27.5949884,-48.5481743,-14.235004,-51.92528
1244,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,2014.0,21.0,900.0,331.0,"(-19.916681, -43.934493)","(-14.235004, -51.92528)",-19.916681,-43.934493,-14.235004,-51.92528
1246,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,...,2010.0,23.2,749.0,739.0,"(-16.6868912, -49.2647943)","(-14.235004, -51.92528)",-16.6868912,-49.2647943,-14.235004,-51.92528

In [16]:
# Convert the latitude and longitude columns from strings to floats
df_merged['City Latitude'] = pd.to_numeric(df_merged['City Latitude'], errors='coerce')
df_merged['City Longitude'] = pd.to_numeric(df_merged['City Longitude'], errors='coerce')
df_merged['Country Latitude'] = pd.to_numeric(df_merged['Country Latitude'], errors='coerce')
df_merged['Country Longitude'] = pd.to_numeric(df_merged['Country Longitude'], errors='coerce')

In [17]:
df_merged.drop(columns=['City Location'], inplace=True)
df_merged.drop(columns=['Country Location'], inplace=True)

In [18]:
# Convert 'C40' from strings "True"/"False" to actual booleans
df_merged['C40'] = df_merged['C40'].map({'True': True, 'False': False})

# Create two new columns: 'C40_True' and 'C40_False'
df_merged['C40_True'] = df_merged['C40'].astype(int)  # This will convert True to 1 and False to 0
df_merged['C40_False'] = (~df_merged['C40']).astype(int)  # This inverts the boolean and then converts to 0/1

In [19]:
df_merged.drop(columns=['C40'], inplace=True)

In [20]:
df = df_merged

In [21]:
df.sample()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,GDP Year,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False
7169,Brazil,Nova Friburgo,80,Moderate,2,Good,13,Good,6,Good,...,2014.0,23.7,5.0,1224.6,-22.905439,-43.561447,-14.235004,-51.92528,1,0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195254 entries, 1241 to 288719
Data columns (total 27 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Country                                   195254 non-null  object
 1   City                                      195254 non-null  object
 2   AQI Value                                 195254 non-null  int64
 3   AQI Category                              195254 non-null  object
 4   CO AQI Value                              195254 non-null  int64
 5   CO AQI Category                           195254 non-null  object
 6   Ozone AQI Value                           195254 non-null  int64
 7   Ozone AQI Category                        195254 non-null  object
 8   NO2 AQI Value                             195254 non-null  int64
 9   NO2 AQI Category                          195254 non-null  object
 10  PM2.5 AQI Value                           195254 non-null  int64
 11  PM2.5 AQI Category                        195254 non-null  object
 12  Region                                    195254 non-null  object
 13  Reporting year                            195254 non-null  int64
 14  Total emissions (metric tonnes CO2e)      195254 non-null  float64
 15  Population                                195254 non-null  int64
 16  GDP                                       195254 non-null  float64
 17  GDP Year                                  195254 non-null  float64
 18  Average annual temperature (in Celsius)​  195254 non-null  float64
 19  ​Average altitude (m)                     195254 non-null  float64
 20  ​Land area (in square km)                 195254 non-null  float64
 21  City Latitude                             195254 non-null  float64
 22  City Longitude                            195254 non-null  float64
 23  Country Latitude                          195254 non-null  float64
 24  Country Longitude                         195254 non-null  float64
 25  C40_True                                  195254 non-null  int32
 26  C40_False                                 195254 non-null  int32
dtypes: float64(10), int32(2), int64(7), object(8)
memory usage: 40.2+ MB

In [23]:
import pycountry_convert as pc

#applying continent to the dataset for future use of folium mapping
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return None  # For countries that don't match

# Apply the conversion function to your DataFrame
df['Continent'] = df['Country'].apply(country_to_continent)
# Filter for other continents
north_american_countries_df = df[df['Continent'] == 'North America']
south_american_countries_df = df[df['Continent'] == 'South America']
asian_countries_df = df[df['Continent'] == 'Asia']
african_countries_df = df[df['Continent'] == 'Africa']
oceania_countries_df = df[df['Continent'] == 'Oceania']
Europe_df = df[df['Continent'] == 'Europe']

c:\Users\chz\anaconda3\Lib\site-packages\pycountry\db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
c:\Users\chz\anaconda3\Lib\site-packages\pycountry\db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)

In [24]:
df.count()

Country                                     195254
City                                        195254
AQI Value                                   195254
AQI Category                                195254
CO AQI Value                                195254
CO AQI Category                             195254
Ozone AQI Value                             195254
Ozone AQI Category                          195254
NO2 AQI Value                               195254
NO2 AQI Category                            195254
PM2.5 AQI Value                             195254
PM2.5 AQI Category                          195254
Region                                      195254
Reporting year                              195254
Total emissions (metric tonnes CO2e)        195254
Population                                  195254
GDP                                         195254
GDP Year                                    195254
Average annual temperature (in Celsius)​    195254
​Average altitude (m)                       195254
​Land area (in square km)                   195254
City Latitude                               195254
City Longitude                              195254
Country Latitude                            195254
Country Longitude                           195254
C40_True                                    195254
C40_False                                   195254
Continent                                   195253
dtype: int64

In [25]:
df.sample(10)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,...,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Latitude,City Longitude,Country Latitude,Country Longitude,C40_True,C40_False,Continent
273467,United Kingdom,Alfreton,40,Good,1,Good,33,Good,1,Good,...,11.0,35.0,1572.0,51.504858,-0.078689,55.378051,-3.435973,1,0,Europe
95131,USA,Laguna Hills,62,Moderate,1,Good,25,Good,12,Good,...,13.0,168.0,124.0,39.103100,-84.512000,37.090240,-95.712891,0,1,North America
132864,USA,Merritt Island,48,Good,1,Good,26,Good,5,Good,...,10.5,203.0,65.5,41.661100,-91.530200,37.090240,-95.712891,0,1,North America
120212,USA,Lake Oswego,74,Moderate,2,Good,24,Good,7,Good,...,20.9,-1.0,468.0,29.951100,-90.071500,37.090240,-95.712891,1,0,North America
252514,USA,Moline,77,Moderate,3,Good,1,Good,10,Good,...,13.0,168.0,124.0,39.103100,-84.512000,37.090240,-95.712891,0,1,North America
220558,USA,Drexel Hill,45,Good,1,Good,42,Good,2,Good,...,6.0,2405.0,20.0,39.195000,-106.837000,37.090240,-95.712891,0,1,North America
82024,USA,Durango,500,Hazardous,133,Unhealthy for Sensitive Groups,0,Good,53,Moderate,...,14.3,89.0,21.8,37.379700,-122.137500,37.090240,-95.712891,0,1,North America
167993,USA,Tifton,85,Moderate,2,Good,8,Good,9,Good,...,20.0,149.0,704.0,30.267200,-97.743100,37.090240,-95.712891,1,0,North America
13446,Brazil,Mutuipe,21,Good,0,Good,11,Good,1,Good,...,26.0,4.0,218.0,-8.057838,-34.882897,-14.235004,-51.925280,0,1,South America
248858,USA,Waterford,47,Good,1,Good,32,Good,6,Good,...,23.6,11.0,378.1,25.901700,-97.497500,37.090240,-95.712891,0,1,North America

In [26]:
df = df.drop_duplicates(subset=['City'])

In [27]:
df.count()

Country                                     13412
City                                        13412
AQI Value                                   13412
AQI Category                                13412
CO AQI Value                                13412
CO AQI Category                             13412
Ozone AQI Value                             13412
Ozone AQI Category                          13412
NO2 AQI Value                               13412
NO2 AQI Category                            13412
PM2.5 AQI Value                             13412
PM2.5 AQI Category                          13412
Region                                      13412
Reporting year                              13412
Total emissions (metric tonnes CO2e)        13412
Population                                  13412
GDP                                         13412
GDP Year                                    13412
Average annual temperature (in Celsius)​    13412
​Average altitude (m)                       13412
​Land area (in square km)                   13412
City Latitude                               13412
City Longitude                              13412
Country Latitude                            13412
Country Longitude                           13412
C40_True                                    13412
C40_False                                   13412
Continent                                   13411
dtype: int64

In [28]:
df.loc[:, df.isna().any()]
df.loc[288719]
df.fillna(value="Europe", inplace=True)

In [1]:
df.sample(50)

NameError: name 'df' is not defined

In [ ]:
df.to_pickle("dataframe.pkl") # save df to a pickle file so it can be used for streamlit

In [33]:
import joblib
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, f1_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression

# Ensure df is your DataFrame loaded with the data
# df = pd.read_csv('path/to/your_data.csv')

# Separate the features and the target variable
X = df.drop(['C40_True', 'C40_False', 'Country', 'City', 'Continent'], axis=1)
y = df['C40_True']

# Identifying numeric and categorical features
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(exclude=['int64', 'float64']).columns.tolist()

# Preprocessing pipelines for both numeric and categorical data
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

# Feature selection integrated within the classifier pipeline
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('feature_selection', RFECV(estimator=LogisticRegression(max_iter=1000), step=1, cv=5, scoring='f1')),
    ('classifier', RandomForestClassifier(random_state=42))])

# Performing cross-validation
cv_scores = cross_val_score(pipeline, X, y, cv=5, scoring='f1_macro')
print(f"Mean F1-score from CV: {cv_scores.mean()} ± {cv_scores.std()}")

# Splitting data for final training and testing (optional, as cross-validation already evaluates the model)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

# Training the model on the entire dataset or the training set only
pipeline.fit(X_train, y_train)

# Extracting feature names correctly after fitting the model
try:
    categorical_feature_names = pipeline.named_steps['preprocessor'].named_transformers_['cat'].get_feature_names_out(categorical_features)
except AttributeError:  # For sklearn versions prior to 0.24
    categorical_feature_names = categorical_transformer.get_feature_names(categorical_features)
feature_names = numeric_features + list(categorical_feature_names)

# Extracting and displaying feature importances
importances = pipeline.named_steps['classifier'].feature_importances_
feature_importances = pd.DataFrame(sorted(zip(feature_names, importances), key=lambda x: x[1], reverse=True), columns=['Feature', 'Importance'])
print(feature_importances.head())

# Evaluating the model on the test set
y_pred = pipeline.predict(X_test)
print(f"Model F1-score on the test set: {f1_score(y_test, y_pred)}")
print(classification_report(y_test, y_pred))

# Saving the model and feature importances for later use
joblib.dump(pipeline, 'finalized_model.joblib')
joblib.dump(feature_importances, 'feature_importances.joblib')

Mean F1-score from CV: 0.9587882580957764 ± 0.08242348380844709
                                Feature  Importance
0                         NO2 AQI Value    0.298753
1                       Ozone AQI Value    0.231453
2                              GDP Year    0.109527
3                 ​Average altitude (m)    0.091924
4  Total emissions (metric tonnes CO2e)    0.059157
Model F1-score on the test set: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1086
           1       1.00      1.00      1.00      1597

    accuracy                           1.00      2683
   macro avg       1.00      1.00      1.00      2683
weighted avg       1.00      1.00      1.00      2683

['feature_importances.joblib']

In [38]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
import pandas as pd
import joblib

# Assuming df is loaded correctly
# Example: df = pd.read_csv('your_data.csv')

X = df.drop(['C40_True', 'C40_False', 'Country', 'City', 'Continent'], axis=1)
y = df['C40_True']

numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(exclude=['int64', 'float64']).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

# Adjusted RandomForestClassifier parameters to prevent overfitting
rf = RandomForestClassifier(n_estimators=100, min_samples_split=5, min_samples_leaf=2, max_depth=10, random_state=42)

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('feature_selection', RFECV(estimator=LogisticRegression(max_iter=1000), step=1, cv=10, scoring='accuracy')),
    ('classifier', rf)])

# Perform cross-validation
scores = cross_val_score(pipeline, X, y, cv=15, scoring='accuracy')
print("Cross-Validation Accuracy Scores:", scores)
print("Mean Accuracy:", scores.mean())

# Save the model
joblib.dump(pipeline, 'less_overfitting_model.joblib')

Cross-Validation Accuracy Scores: [1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         0.72818792 0.8836689 ]
Mean Accuracy: 0.9741237882177479

['less_overfitting_model.joblib']

In [36]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
import pandas as pd
import joblib

# Assuming df is loaded with your data
# This is just an example setup, replace df with your actual dataframe

X = df.drop(['C40_True', 'C40_False', 'Country', 'City', 'Continent'], axis=1)
y = df['C40_True']

numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(exclude=['int64', 'float64']).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

# Adjusted RandomForestClassifier parameters to prevent overfitting
rf = RandomForestClassifier(n_estimators=100, min_samples_split=5, min_samples_leaf=2, max_depth=10, random_state=42)

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('feature_selection', RFECV(estimator=LogisticRegression(max_iter=1000), step=1, cv=10, scoring='accuracy')),
    ('classifier', rf)])

# Perform cross-validation
scores = cross_val_score(pipeline, X, y, cv=5, scoring='accuracy')
print("Cross-Validation Accuracy Scores:", scores)
print("Mean Accuracy:", scores.mean())

# Saving the model for later use
joblib.dump(pipeline, 'less_overfitting_model.joblib')

Cross-Validation Accuracy Scores: [1.         1.         1.         1.         0.79567487]
Mean Accuracy: 0.9591349739000746

['less_overfitting_model.joblib']

In [39]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
import pandas as pd
from sklearn.model_selection import train_test_split
import joblib



# Separate features and target
X = df.drop(['C40_True', 'C40_False', 'Country', 'City', 'Continent'], axis=1, errors='ignore')
y = df['C40_True']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define preprocessing for numeric columns (scale them)
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

# Define preprocessing for categorical features (encode them)
categorical_features = X.select_dtypes(include=['object']).columns
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

# Create preprocessing and training pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))])

# Fit the pipeline to train a RandomForest model on the training set
pipeline.fit(X_train, y_train)

# Feature importance
importances = pipeline.named_steps['classifier'].feature_importances_
feature_names = numeric_features.tolist() + list(pipeline.named_steps['preprocessor'].named_transformers_['cat'].get_feature_names_out())
feature_importances = pd.DataFrame({'Feature': feature_names, 'Importance': importances})
feature_importances.sort_values(by='Importance', ascending=False, inplace=True)

# Save the model and feature importances
joblib.dump(pipeline, 'finalized_model.joblib')
joblib.dump(feature_importances, 'feature_importances.joblib')


print(feature_importances.head())

                                 Feature  Importance
7                             Population    0.193897
6   Total emissions (metric tonnes CO2e)    0.171624
16                     Country Longitude    0.107870
14                        City Longitude    0.087624
8                                    GDP    0.080559

In [37]:
df.count()

Country                                     13412
City                                        13412
AQI Value                                   13412
AQI Category                                13412
CO AQI Value                                13412
CO AQI Category                             13412
Ozone AQI Value                             13412
Ozone AQI Category                          13412
NO2 AQI Value                               13412
NO2 AQI Category                            13412
PM2.5 AQI Value                             13412
PM2.5 AQI Category                          13412
Region                                      13412
Reporting year                              13412
Total emissions (metric tonnes CO2e)        13412
Population                                  13412
GDP                                         13412
GDP Year                                    13412
Average annual temperature (in Celsius)​    13412
​Average altitude (m)                       13412
​Land area (in square km)                   13412
City Latitude                               13412
City Longitude                              13412
Country Latitude                            13412
Country Longitude                           13412
C40_True                                    13412
C40_False                                   13412
Continent                                   13412
dtype: int64

In [ ]:
# We have to convert the data from float to int in order to use pandas to calculate the correlations
numeric_df = df.select_dtypes(include=['float64', 'int64'])


df_cleaned = numeric_df.dropna()
# Calculate the correlation matrix
corr_matrix = df_cleaned.corr()

# Plot the correlation matrix
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Visualizing relationships between all numerical features
sns.pairplot(df.select_dtypes(include=['float64', 'int64']))
plt.show()

In [ ]:
plt.xlabel('AQI Value')
plt.ylabel('PM2.5 AQI Value')
plt.scatter(df['AQI Value'], df['PM2.5 AQI Value'], color='green')
plt.show()

In [ ]:
sns.distplot(df['AQI Value'],  label='AQI Value', norm_hist=True)

In [ ]:
sns.distplot(df['PM2.5 AQI Value'],  label='PM2.5 AQI Value', norm_hist=True)

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'AQI Value' for each country
country_aqi_means = df.groupby('Country')['AQI Value'].mean()

# Sorting the countries by AQI value for better visualization
country_aqi_means = country_aqi_means.sort_values()

# Creating the bar chart
plt.figure(figsize=(15, 25)) 
plt.barh(country_aqi_means.index, country_aqi_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average AQI Value')
plt.ylabel('Country')
plt.title('Average AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.

plt.show()

In [ ]:
# Grouping the data by 'Country' and calculating the mean 'PM2.5 AQI Value' for each country
country_pm25_means = df.groupby('Country')['PM2.5 AQI Value'].mean()
# Sorting the countries by PM2.5 AQI value for better visualization
country_pm25_means = country_pm25_means.sort_values()
# Creating the bar chart
plt.figure(figsize=(15, 25))
plt.barh(country_pm25_means.index, country_pm25_means.values, color='skyblue') # Horizontal bar chart
plt.xlabel('Average PM2.5 AQI Value')
plt.ylabel('Country')
plt.title('Average PM2.5 AQI Value by Country')
plt.tight_layout() # Adjusts subplot params so that the subplot(s) fits in to the figure area.
plt.show()

In [ ]:
X = df['AQI Value'].values.reshape(-1, 1)
y = df['PM2.5 AQI Value'].values.reshape(-1, 1)

In [ ]:
# plot all
plt.ylabel('PM2.5 AQI Value')
plt.xlabel('AQI Value')
plt.scatter(X, y, color='blue')
plt.show()

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=0.15)

In [ ]:
# the shape of the subsets
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

In [ ]:
# creating an instance of Linear Regression model
myreg = LinearRegression()

In [ ]:
# fit it to our data
myreg.fit(X_train, y_train)
myreg

In [ ]:
# get the calculated coefficients
a = myreg.coef_
b = myreg.intercept_

In [ ]:
a

In [ ]:
b

In [ ]:
y_predicted = myreg.predict(X_test)
y_predicted

In [ ]:
y_test

In [ ]:
# Visualise the Linear Regression 
plt.title('Linear Regression')
plt.scatter(X, y, color='green')
plt.plot(X_train, a*X_train + b, color='blue')
plt.plot(X_test, y_predicted, color='orange')
plt.xlabel('length')
plt.ylabel('age')
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Predicting on the test set
y_pred = myreg.predict(X_test)

# Calculating metrics
print("R^2: ", r2_score(y_test, y_pred))
print("RMSE: ", np.sqrt(mean_squared_error(y_test, y_pred)))

In [ ]:
#create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'Country' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='Country', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# divide the data into 5 clusters using the KMeans algorithm
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5)
kmeans.fit(df[['AQI Value', 'PM2.5 AQI Value']])
df['cluster'] = kmeans.predict(df[['AQI Value', 'PM2.5 AQI Value']])
df.sample(10)

In [ ]:
# create a scatter plot of the 'AQI Value' and 'PM2.5 AQI Value' columns and color the points by the 'cluster' column
fig = px.scatter(df, x='AQI Value', y='PM2.5 AQI Value', color='cluster', title='AQI Value vs PM2.5 AQI Value')
fig.show()

In [ ]:
# Fit the model and predict clusters
kmeans = KMeans(n_clusters=5, random_state=42).fit(df_filtered[['AQI Value', 'PM2.5 AQI Value']])
df_filtered['cluster'] = kmeans.labels_

# Analyze centroids
centroids = kmeans.cluster_centers_
print("Centroids:\n", centroids)

# Plotting clusters and centroids
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df_filtered, x='AQI Value', y='PM2.5 AQI Value', hue='cluster', palette='viridis')
plt.scatter(centroids[:, 0], centroids[:, 1], s=100, c='red', label='Centroids')
plt.legend()
plt.show()

In [ ]:
population_data = df[['Country', 'Population']]

# Grouping and aggregating population data by country
population_by_country = population_data.groupby('Country')['Population'].sum().reset_index()

# Creating a pivot table with 'Country' as index
pivot_population = population_by_country.set_index('Country')

# Creating the heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(data=pivot_population, cmap='YlGnBu', annot=True, fmt=',.0f', linewidths=.5)
plt.title('Population by Country')
plt.xlabel('population')
plt.ylabel('Country')
plt.show()

In [ ]:
# Splitting the 'Country Location' column into separate longitude and latitude columns
df[['Latitude', 'Longitude']] = df['Country Location'].str.strip('()').str.split(', ', expand=True).astype(float)

# Creating a 3D scatter plot
scatter_plot = go.Scatter3d(
    x=df['Longitude'],
    y=df['Latitude'],
    z=df['Population year'],
    mode='markers',
    marker=dict(
        size=5,
        color='blue',                # Set color to an array/list of desired values
        opacity=0.8
    )
)

# Setting layout
layout = go.Layout(
    title='3D Population Map',
    scene=dict(
        xaxis=dict(title='Country Longitude'),
        yaxis=dict(title='Country Latitude'),
        zaxis=dict(title='Population')
    )
)

# Combining data and layout into a figure
fig = go.Figure(data=[scatter_plot], layout=layout)

# Show the figure
fig.show()

In [ ]:
df.sample()

In [ ]:
filtered_df = df[df['Country'] == 'Russian Federation']

In [ ]:
filtered_df.sample()

In [ ]:
df_europe = df[df['Country'] == 'USA']

In [ ]:
df_europe.sample(50)

In [ ]:
df_sampled = df_europe.sample(n=500, replace=False, random_state=42)

In [ ]:
df_sampled.count()

In [ ]:
import folium
import json

# Load the GeoJSON data from a local file
with open(r"C:\Users\chz\Documents\BI Exercise\Datasæt\Eumap.json", 'r', encoding='utf-8') as f:
    geojson_data = json.load(f)

# Assuming 'df' is your DataFrame and already correctly set up
m = folium.Map(location=[df_sampled['Country Latitude'].mean(), df_sampled['Country Longitude'].mean()], zoom_start=3)

# Add markers for each data point
for index, row in df.iterrows():
    folium.Marker([row['Country Latitude'], row['Country Longitude']], popup=row['Population']).add_to(m)

# Add polygon overlays for countries using the loaded GeoJSON data
folium.GeoJson(data=geojson_data).add_to(m)

# Save and display the map
m.save('map.html')

In [ ]:
m